.main {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
  width: 1024px;
  font-size: 100%;
  font-weight: 400;
}

/*--------main option---------*/

.header-block {
  background-image: url("images/Background.png");
  background-size: cover;
  background-color: rgba(0, 0, 0,.7);
  background-blend-mode: darken;
  width: 1024px;
  height: 480px
}

.logo {
  margin: 32px 0 0 80px;
  display: inline-block;
}

.sidebar-block {
  margin-top: 30px;
  float: right;
}

.menu {
  float: left;
  list-style-type: none;
  margin-right: 35px;
}

.menu-item {
  color: #FFF;
  font-family: "Montserrat" sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-item:hover {
  color: #EE2F1B;
}

.big-trigger {
  width: 450px;
  margin: 120px auto 0;
}

.big-trigger-item {
  font-family: "Montserrat",  sans-serif;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: -2.5px;
}

.underline:after {
  width: 90px;
  height: 2px;
  background-color: #35C2F8;
  display: flex;
  content: "";
  margin: 0 auto;
}

.small-trigger {
  width: 360px;
  margin: 0 auto;
}

.small-trigger-item {
  font-family: "Montserrat",  sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #CCC;
  letter-spacing: -.5px;
}

.main-content {
  text-align: center;
  margin-top: 60px;
  font-family: "Montserrat",  sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: #222;
}

.content-header.underline:after {
  margin-bottom: 70px;
  margin-top: 15px;
}

.block-services {
  display: grid;
  grid-auto-columns: repeat(3, 1);
  grid-auto-rows: repeat(3);
  text-align: center;
}

.service-left {
  grid-column-start: 1;
  grid-column-end: 1;
}

.service-center {
  grid-column-start: 2;
  grid-column-end: 2;
}

.service-right {
  grid-column-start: 3;
  grid-column-end: 3;
}

.service-title {
  margin-top: 18px;
  font-family: "Montserrat",  sans-serif;
  font-size: 15px;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
  margin: 39px 0 19px;
}

.service-text {
  margin-bottom: 101px;
  font-size: 13px;
  color: #888;
  font-weight: 400;
}
