.main {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.header_block, .content_block {
  width: 1024px;
  margin: auto;
}

/*--------main option---------*/

.header_block {
  background-image: url("images/Background.png");
  background-size: cover;
  background-color: rgba(0, 0, 0,.7);
  background-blend-mode: darken;
  width: 1024px;
  height: 480px
}

.logo {
  margin: 40px 0 0 80px;
  display: inline-block;
}

.site_bar_block {
  margin-top: 55px;
  float: right;
}

.menu {
  float: left;
  list-style-type: none;
  margin-right: 35px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}

.menu a:hover {
  color: #EE2F1B;
}

.banner_trigers {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.big_trigger {
  width: 450px;
  position: absolute;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.big_trigger h1 {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat",  sans-serif;
  color: #FFF;
}

.underline:after {
  width: 90px;
  height: 2px;
  background-color: #35C2F8;
  display: block;
  content: "";
  margin: 0 auto;
}

.small_trigger {
  width: 360px;
  position: absolute;
  top: 335px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.small_trigger h2 {
  color: #CCC;
  text-align: center;
  font-family: "Noto Sans",  sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.main_content {
  text-align: center;
  margin-top: 60px;
  text-transform: uppercase;
  font-family: "Montserrat",  sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: #222;
}

.content_header.underline:after {
  margin-bottom: 70px;
  margin-top: 15px;
}

.block_services {
  display: grid;
  grid-auto-columns: repeat(3, 1);
  grid-auto-rows: repeat(3);
  text-align: center;
}

.service_left {
  grid-column-start: 1;
  grid-column-end: 1;
}

.service_center {
  grid-column-start: 2;
  grid-column-end: 2;
}

.service_right {
  grid-column-start: 3;
  grid-column-end: 3;
}

.service_title {
  margin-top: 18px;
  color: #222;
  text-transform: uppercase;
  margin: 39px 0 19px;
}

.service_text {
  margin-bottom: 101px;
  font-family: "Noto Sans",  sans-serif;
  font-size: 13px;
  color: #888;
}
