*, *:after, *:before {
  margin: 0;
  padding: 0
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #FFF;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

/* ---SECTION Title --- */

.header {
  background-image: url("../img/backgrounds/title-bg.jpg");
}

.head {
  display: flex;
}

.logo__dreams {
  margin: 40px 0 0 10%;
}

.title-navigation {
  margin: 50px 10% 0 70px;
}

.navigation {
  list-style: none;
}

.navigation__list {
  display: inline-block;
}

.navigation__link {
  margin-left: 40px;
  padding: 10px 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #FFF;
}

.navigation__link:hover {
  cursor: pointer;
  color: #35E9EB;
}

.responsive-menu {
  display: none;
  right: 10%;
  position: fixed;
  padding: 6px 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #FFF;
}

.responsive-menu:hover {
  cursor: pointer;
  color: #35E9EB;
}

.title-content {
  padding-top: 225px;
  text-align: center;
}

.title-content__headline {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: #FFF;
}

.title-content__headline:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 110px;
  padding-top: 50px;
  border-bottom: 2px solid #35E9EB;
}

.title-content__paragraph {
  margin-top: 50px;
  font-size: 16px;
  color: #CCC;
  line-height: 1.7;
  padding-bottom: 100px;
}

/* --- SECTION Core Services ---*/

.core-services {
  text-align: center;
}

.core-services__headline {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.core-services__headline:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 110px;
  padding-top: 40px;
  border-bottom: 2px solid #35E9EB;
}

.services {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.services__headline {
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.core-services__paragraph {
  margin-top: 20px;
  font-size: 12px;
  color: #888;
  padding-bottom: 100px;
}

/* --- SECTION Other Expertise --- */

.other-expertise {
  background-color: #F7F7F7;
  display: flex;
}

.other-expertise-content {
  margin-left: 50px;
}

.other-expertise-content__headline {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.other-expertise-content__paragraph {
  padding-top: 40px;
  font-size: 12px;
  color: #777;
}

.types-of-expertise {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
}

.types-of-expertise__item {
  width: 50%;
  display: flex;
  align-items: flex-start;
}

.types-of-expertise__headline {
  font-size: 10px;
  text-transform: uppercase;
  color: #000;
}

.types-of-expertise__paragraph {
  margin-top: 14px;
  font-size: 10px;
  color: #777;
}

.expertise__items {
  margin-left: 15px;
}

/* Custom Setup */

.custom-setup {
  display: flex;
}

.custom-setup__img {
  width: 30px;
  height: 30px;
}

/* All star support team */

.all-star {
  margin-top: 25px;
  display: flex;
}

.all-star__img {
  width: 31px;
  height: 31px;
}

/* Cloud Control */

.cloud-control {
  margin-left: -13px;
  display: flex;
}

.cloud-control__img {
  width: 42px;
  height: 29px;
}

/* Top Notch Security */

.top-security {
  margin-top: 25px;
  display: flex;
}

.top-security__img {
  width: 27px;
  height: 39px;
}

.button-of-expertise {
  margin-top: 60px;
}

.button-of-expertise__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 40px;
  background-color: #35E9EB;
  color: #FFF;
}

.button-of-expertise__link:hover {
  background-color: #FFF;
  color: #000;
}

/* --- SECTION Amazing Portfolio --- */

.amazing-portfolio {
  padding-left: 50px;
  width: 100%;
  display: flex
}

.amazing-content {
  width: 580px;
  padding-bottom: 50px;
}

.amazing-portfolio__item {
  margin-top: 130px;
}

.amazing-portfolio__img {
  max-width: 400px;
  max-height: 345px;
}

.amazing-portfolio__headline {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.amazing-portfolio-bg {
  background-image: url("../img/backgrounds/svg/users-bg.svg");
  background-repeat: no-repeat;
}

.amazing-portfolio__paragraph1 {
  margin-top: 40px;
  font-size: 10px;
  color: #777;
}

.amazing-portfolio__paragraph2 {
  margin-top: 30px;
  font-size: 9px;
  color: #777;
}

.advantages-of-portfolio__headline {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
}

.advantages-of-portfolio__paragraph {
  margin-top: 15px;
  font-size: 10px;
  color: #777;
}

.advantages-of-portfolio__item {
  margin-top: 30px;
}

.service__items {
  margin-left: 15px;
}

/* Sail Away Your Worries */

.sail-away {
  display: flex;
}

.sail-away__img {
  width: 30px;
  height: 30px;
}

/* All Star Suppurt Team */

.support-team {
  display: flex;
}

.support-team__img {
  width: 31px;
  height: 31px;
}

/* Fully Integrated Service */

.fully-service {
  display: flex;
}

.fully-service__img {
  width: 29px;
  height: 30px;
}

/* --- SECTION Portfolio Photos --- */

.portfolio-photos {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.portfolio-photos__item {
  flex-grow: 2;
  flex-basis: 300px;
  max-width: 350px;
}

/* photos */

.portfolio-photos__img {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.portfolio-photos__img:hover {
  cursor: pointer;
  opacity: .6;
}

/* --- SECTION About Us --- */

.about-us {
  padding: 100px 0;
}

.about-us__headline {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.about-us__headline:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 110px;
  padding-top: 40px;
  border-bottom: 2px solid #35E9EB;
}

.about-content {
  margin: 0 auto;
}

/* Our Humble Beginnings */

.our-humble {
  margin-top: 80px;
  display: flex;
  width: 58%;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.our-content {
  margin: 20px 40px 0 0;
}

.our-content__headline {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  text-align: right;
}

.our-content__paragraph {
  margin-top: 20px;
  font-size: 11px;
  color: #777;
  text-align: right;
}

.our-humble__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #F1F1F1
}

/* Facing Startup Battles */

.facing-startup {
  display: flex;
  width: 86%;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.facing-content {
  margin: 20px 0 0 40px;
}

.facing-content__headline {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
}

.facing-content__paragraph {
  margin-top: 20px;
  font-size: 11px;
  color: #777;
}

.facing-startup__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #F1F1F1
}

/* Enter The Dark Days */

.dark-days {
  display: flex;
  width: 58%;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.dark-content {
  margin: 20px 40px 0 0;
}

.dark-content__headline {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  text-align: right;
}

.dark-content__paragraph {
  margin-top: 20px;
  font-size: 11px;
  color: #777;
  text-align: right;
}

.dark-days__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #F1F1F1
}

/* Our Triumph */

.our-triumph {
  display: flex;
  width: 86%;
  justify-content: flex-end;
}

.triumph-content {
  margin: 20px 0 0 40px;
}

.triumph-content__headline {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
}

.triumph-content__paragraph {
  margin-top: 20px;
  font-size: 11px;
  color: #777;
}

.our-triumph__img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 3px solid #F1F1F1
}

.our-story {
  margin-top: 80px;
  text-align: center;
}

.round {
  width: 150px;
  height: 150px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #FFF;
  text-shadow: 0 1px 1px #929292;
  background-color: #35C2F8;
  border-radius: 50%;
  border: 3px solid #F1F1F1;
}

/* SECTION Awesome Team */

.awesome-team {
  padding: 100px 0;
  background-color: #F7F7F7;
}

.awesome-team__headline {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.awesome-team__headline:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 110px;
  padding-top: 40px;
  border-bottom: 2px solid #35E9EB;
}

.awesome-team__paragraph {
  text-align: center;
  margin-top: 70px;
  font-size: 11px;
  line-height: 2;
  color: #777;
}

.team {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
}

.team__img {
  border-radius: 50%;
  border: 7px solid #FFF;
}

.team__headline {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

.team__paragraph {
  text-align: center;
  margin-top: 5px;
  font-size: 11px;
  color: #777;
}

.team-social {
  text-align: center;
  margin-top: 15px;
}

.team-social__img {
  width: 30px;
  height: 30px;
}

/* --- SECTION Contsct Us --- */

.contact-us {
  background-color: #111;
  padding: 50px 0 25px;
}

.contact-us-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact-us-content {
  margin-left: 50px;
}

.contact-us-content__headline {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-us-content__paragraph {
  margin-top: 15px;
  font-size: 10px;
}

.contact-content {
  margin-left: 50px;
}

.contact-content {
  display: flex;
}

.list-contacts {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  width: 500px;
  height: 120px;
}

.list-contacts__list {
  margin-bottom: 10px;
}

.phone:before {
  content: url("../img/contact-us/svg/mobile.svg");
}

.twitter:before {
  content: url("../img/contact-us/svg/twitter.svg");
}

.google:before {
  content: url("../img/contact-us/svg/google-plus.svg");
}

.email:before {
  content: url("../img/contact-us/evelope.png");
}

.facebook:before {
  content: url("../img/contact-us/svg/facebook.svg");
}

.printerest:before {
  content: url("../img/contact-us/svg/pinterest.svg");
}

.list-contacts__link {
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  margin-left: 5px;
}

.list-contacts__link:hover {
  color: #35E9EB;
}

.contacts-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  width: 424px;
}

.contacts-form__name {
  margin-top: 10px;
  height: 40px;
  font-size: 14px;
  padding: 0 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: none;
}

.contacts-form__email {
  height: 40px;
  font-size: 14px;
  padding: 0 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: none;
}

.contacts-form__message {
  height: 140px;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 15px;
  resize: none;
  border-radius: 3px;
  border: none;
}

.contact-button {
  width: 180px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 40px;
  border: none;
  background-color: #35E9EB;
  color: #FFF;
}

.contact-button:hover {
  background-color: #FFF;
  color: #000;
}

.contact-us__paragraph {
  display: block;
  font-size: 12px;
  text-align: center;
}

.contact-us__paragraph:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 924px;
  margin-top: 40px;
  margin-bottom: 25px;
  border-bottom: 1px solid #FFF;
}

/*   --- RESPONSIVE ---   */

@media (max-width: 991.98px) {

  .navigation {
    display: none;
  }

  .responsive-menu {
    display: block;
  }

  .other-expertise {
    padding-bottom: 50px;
  }

  .other-expertise__item {
    display: none;
  }

  .types-of-expertise {
    width: 100%;
    justify-content: space-between;
  }

  .feedback {
    margin: 25px 50px 0;
  }

  .our-humble {
    flex-direction: column;
    width: 100%;
  }

  .our-content {
    margin-right: 0;
  }

  .our-content__headline {
    text-align: center;
  }

  .our-content__paragraph {
    text-align: center;
  }

  .our-humble__img {
    order: -1;
    margin: 0 auto;
  }

  .facing-startup {
    flex-direction: column;
    width: 100%;
  }

  .facing-content {
    margin-left: 0;
    text-align: center;
  }

  .facing-startup__img {
    margin: 0 auto;
  }

  .dark-days {
    flex-direction: column;
    width: 100%;
  }

  .dark-content {
    margin-right: 0;
  }

  .dark-content__headline {
    text-align: center;
  }

  .dark-content__paragraph {
    text-align: center;
  }

  .dark-days__img {
    order: -1;
    margin: 0 auto;
  }

  .our-triumph {
    flex-direction: column;
    width: 100%;
  }

  .triumph-content {
    text-align: center;
    margin-left: 0;
  }

  .our-triumph__img {
    margin: 0 auto;
  }

  .round {
    align-items: center;
  }
}

@media (max-width: 899.98px) {

  .portfolio-photos__item {
    flex-basis: 250px;
  }
}

@media (max-width: 767.98px) {

  .services {
    flex-direction: column;
  }

  .amazing-portfolio__item {
    display: none;
  }

  .team__img {
    width: 150px;
    height: auto;
  }

  .team-social__img {
    width: 20px;
    height: auto;
  }
}


@media (max-width: 749.98px) {

  .portfolio-photos__item {
    flex-basis: 200px;
  }
}

@media (max-width: 690.98px) {

  .types-of-expertise {
    flex-direction: column;
  }

  .types-of-expertise__item {
    width: 100%;
  }

  .cloud-control {
    margin-top: 25px;
  }
}

@media (max-width:575.98px) {

  .other-expertise-content__headline {
    width: 100px;
  }

  .other-expertise-content__paragraph {
    width: 300px;
  }

  .amazing-portfolio__headline {
    width: 100px;
  }

  .amazing-portfolio__paragraph1 {
    width: 300px;
  }

  .amazing-portfolio__paragraph2 {
    width: 300px;
  }

  .advantages-of-portfolio {
    width: 250px;
  }

  .team {
    text-align: center;
    flex-direction: column;
  }

  .list-contacts {
    flex-wrap: nowrap;
    height: 200px;
  }

  .contacts-form {
    width: 350px;
  }
}

@media (max-width:450.98px) {

  .other-expertise-content__paragraph {
    width: 250px;
  }

  .amazing-portfolio__paragraph1 {
    width: 250px;
  }

  .amazing-portfolio__paragraph2 {
    width: 250px;
  }

  .awesome-team__paragraph {
    margin: 0 auto;
    width: 250px;
  }

  .contact-us-content__paragraph {
    width: 250px;
  }

  .contacts-form {
    width: 290px;
  }
}

@media (max-width: 399.98px) {

  .portfolio-photos__item {
    flex-basis: 150px;
  }
}

@media (max-width: 376.98px) {

  .contacts-form {
    width: 225px;
  }

  .types-of-expertise__item {
    width: 85%;
  }
}

/* SVG */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}