*, *:after, *:before {
  margin: 0;
  padding: 0
}

body {
  width: 1024px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #FFF;
}

.header {
  background-image: url("../img/backgrounds/title-bg.jpg");
}

.logo__dreams {
  float: left;
  padding: 40px 0 0 130px;
}

.title__navigation {
  float: right;
  padding: 50px 130px 0 0;
}

.nav__ul {
  list-style: none;
}

.nav__li {
  display: inline-block;
}

.nav__a {
  margin-left: 55px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #FFF;
}

.nav__a:hover {
  cursor: pointer;
  color: #35E9EB;
}

.title__content {
  padding-top: 242px;
  text-align: center;
}

.title__h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: #FFF;
}

.title__h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 110px;
  padding-top: 50px;
  border-bottom: 2px solid #35E9EB;
}

.title__p {
  margin-top: 50px;
  font-size: 16px;
  color: #CCC;
  line-height: 1.7;
  padding-bottom: 140px;
}

.core__services {
  text-align: center;
}

.services__h2 {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.services__h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 110px;
  padding-top: 40px;
  border-bottom: 2px solid #35E9EB;
}

.services {
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 110px;
}

.services__h3 {
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.services__p {
  margin-top: 20px;
  font-size: 12px;
  color: #888;
  padding-bottom: 100px;
}