@font-face {
  font-family: "Bello-Script";
  src: url("fonts/Bello-Script.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.body {
  max-width: 1024px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  background-image: url("img/top_bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1024px 659px;
}

.top {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  color: #FFF;
  width: 30%;
  margin-top: 37px;
}

.menu {
  display: flex;
  color: #FFF;
  font-weight: 400;
  line-height: 41px;
  text-decoration: none;
  list-style: none;
  justify-content: flex-end;
  margin-top: 37px;
}


.menu a {
  padding: 1em;
  color: #FFF;
  list-style: none;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 45px;
  height: 10px;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 176px;
  font-size: 50px;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  width: 544px;
  letter-spacing: -2.5px;
}

.header_line {
  border: 1px solid #35C2F8;
  width: 113px;
  margin-top: 50px;
}

.sub-heading {
  color: #CCC;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 53px;
  line-height: 30px;
  height: 55px;
  letter-spacing: 1px;
  width: 544px;
  margin-left: auto;
  margin-right: auto;
}

.mid_text {
  color: #222;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
  margin-top: 239px
}

.main_line {
  border: 1px solid #35C2F8;
  width: 113px;
  margin-top: 39px;
}

.container {
  margin-top: 78px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main_icon {
  text-align: center;
  background-size: 55px 55px;
}

.h3_icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: -1px;
}

.mid_h2 {
  display: flex;
  color: #222;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-left: 40px;
}

.mid {
  background-color: #F7F7F7;
  background-image: url("img/2.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 300px 600px;
  height: 600px;
  margin-top: 100px;
}

.expertise {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  justify-content: space-between;
}

.expertise li {
  text-decoration: none;
  list-style: none;
}

.expertise li p {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

.mid_h2_desc {
  font-size: 16px;
  width: 600px;
  margin-left: 40px;
}

.button {
  background-color: #FFF;
  color: #000;
  border: none;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 40px;
  border-radius: 25px;
  border: 1px solid #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 48px;
}

.mid_2 {
  background-image: url("img/mid_bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 500px 650px;
}

.mid2_h2 {
  color: #222;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-left: 20px;
}

.amazing-portfolio {
  list-style: none;
}

.amazing-portfolio li p {
  text-transform: uppercase;
  font-weight: 700;
}

.mid2_h2_desc {
  width: 600px;
}
