.header, .content, .other-expertise {
  width: 1024px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}

.header {
  background-image: url("images/background.png");
  height: 657px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.header-info, .header-nav {
  color: #FFF;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.header-transparency-layer {
  position: absolute;
  background-color: rgba(0, 0, 0, .75);
  width: 1024px;
  height: 472px;
}

.header-logo {
  margin: 51px 0 15px 130px;
  color: #FFF;
}

.header-nav {
  margin-top: 51px;
  float: right;
}

.header-nav-link {
  margin-right: 50px;
  line-height: 43px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #FFF;
}

.header-nav-link:last-child {
  margin-right: 100px;
}

.header-nav-link:hover {
  color: rgb(45, 240, 6);
}

.header-info-tittle {
  font-size: 40px;
  flex-basis: 545px;
  margin: auto;
  margin-top: 80px;
  line-height: 60px;
  text-transform: uppercase;
}

.underline:after {
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  display: block;
  content: "";
  margin: 20px auto;
}

.header-info-desc {
  font-size: 15px;
  flex-basis: 500px;
  margin: auto;
  color: #CCC;
}

.header-logo {
  filter: invert(2%);
}

.content {
  margin-top: -240px;
  display: flex;
  flex-wrap: wrap;
}

.content-header {
  text-align: center;
  font-size: 30px;
  margin-top: 99px;
  flex-basis: 100%;
  line-height: 75px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
}

.content-item {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.content-item-image {
  margin: auto;
  height: 55px;
}

.content-item-header {
  margin: 0;
  flex-basis: 100%;
  text-align: center;
  line-height: 75px;
  color: #222;
  text-transform: uppercase;
}

.content-item-desc {
  font-size: 14px;
  text-align: center;
  margin: 0 20px;
  line-height: 22px;
  letter-spacing: -.35px;
  color: #888;
}
/* here will be next 2 parts soon...
.other-expertise {
  height: 616px;
  background-color: #F7F7F7;
}

.other-expertise-content {
  display: block;
}

.other--expertise {
  width: 350px;
  height: 30px;
  color: #222;
  font-size: 40px;
  text-transform: uppercase;
  padding: 100px 40px 1px;
}

.content-desk {
  width: 654px;
  height: 41px;
  color: #777;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -.4px;
  padding-left: 40px;
}

.other-expertise-image {
  margin-left: 704px;
  margin-top: -340px;
  width: 320px;
  height: 616px;
}
*/