
.body {
  width: 1024px;
  font-family: "open Sans", sans-serif;
  font-size: 16px;
  color: #FFF;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.header-section {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center, top;
  background-size: cover;
  box-shadow: 0 0 0 325px rgba(0, 0, 0, .75) inset;
  background-color: #000;
}

.container {
  margin: 0 10%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 40px;
}

.menu {
  margin-top: 55px;
}

.menu__items {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.menu__item {
  display: block;
  margin-left: 40px;
  margin-right: 0;
}

.header-text {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  align-self: center;
}

.menu__link {
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
}

.menu__link:hover {
  color: #35C2F8;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-heading {
  font-size: 50px;
  text-align: center;
  transform: scaleX(.9);
  margin-top: 166px;
  margin-bottom: 0;
}

.underline:after {
  width: 121px;
  height: 1px;
  background-color: #35C2F8;
  content: "";
  align-self: center;
  display: block;
  margin: 30px auto;
}

.title-text {
  align-self: center;
  text-align: center;
  font-size: 20px;
  color: #CCC;
  transform: scaleX(.9);
  margin: 0;
  margin-top: 24px;
  margin-bottom: 140px;
}

.sub-heading {
  font-size: 40px;
  color: #222;
  margin-top: 90px;
  margin-bottom: 0;
}

.service-section__content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 101px;
}

.service-section__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 282px;
  color: #888;
  font-size: 14px;
  text-align: center;
}

.third-heading {
  color: #222;
  font-size: 16px;
}

.main-text {
  margin: 0;
}

.expertise-section {
  background-color: #F7F7F7;
}

.expertise-section .container {
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

.image {
  min-width: 420px;
  min-height: 616px;
}

.expertise-text {
  color: #777;
  margin-top: 26px;
  margin-bottom: 0;
}

.list {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 0;
}

.two-column-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: space-between;
  max-height: 284px;
}

.list-header {
  margin: 0;
  font-size: 14px;
}

.list-text {
  margin-top: 13px;
  margin-bottom: 30px;
}

.small-text {
  color: #777;
  font-size: 14px;
}

.list__item {
  display: flex;
  list-style-type: none;
  color: #777;
}

.list__icon {
  align-self: start;
  min-width: 30px;
}

.list__content {
  margin-left: 10px;
}

.button {
  padding: 20px 36px;
  border-radius: 40px;
  border: 1px solid #D4EFF9;
  background-color: #FFF;
  margin-bottom: 88px;
  margin-left: 9px;
}

.portfolio-section .container {
  margin-right: 0;
}

.amazing-portfolio {
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
}

.portfolio-description {
  min-width: 51%;
  margin-right: 50px;
  margin-bottom: 80px;
}

.amazing-portfolio-description {
  background-image: url("./images/background-users-icon.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.portfolio-text {
  margin-top: 42px;
}

.portfolio-text-2 {
  margin-top: 40px;
}

.portfolio-description .list__item:nth-child(3) .list-text {
  margin-bottom: 0;
}

.isometric-ipad-air {
  margin-top: 63px;
  position: relative;
  min-width: 1076px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
