body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 1024px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 400;
}

.header {
  height: 500px;
  background-image: url("img/TransparencyLayer.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.header__container {
  padding: 10px 1.82%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 28px;
}

.container__menu {
  padding: 0;
  margin: 0;
}

.menu__list {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: left;
}

.list__item {
  text-transform: uppercase;
  padding: 10px;
}

.list__item .item-part {
  display: block;
  color: #FFF;
  text-align: center;
  text-decoration: none;
}

.list__item .item-part:hover {
  background-color: #111;
}

.header_text {
  width: 100%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text_1 {
  padding: 50px 30% 10px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
}

.text_2 {
  color: #CCC;
  padding: 50px 24.82% 0;
  font-size: 20px;
  font-weight: 400;
}

.main_core-servise {
  margin: 10% 0;
  width: 100%;
}

.core-servise_core {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.block__text-1, .block__text-2, .block__text-3 {
  text-align: center;
}

.core-servise__core-title, .block__title {
  text-align: center;
  text-transform: uppercase;
}

.text_1:after, .core-servise__core-title:after {
  content: " ";
  display: block;
  height: 1px;
  background: #35C2F8;
  width: 111px;
}

.block__img , .text_1:after, .core-servise__core-title:after {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.div-title {
  margin: 0;
  padding: 0;
}

.div_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.other-expertise_div, .portfolio_div-portfolio {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.div_text {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

.main_other-expertise {
  display: flex;
  background-color: #F7F;
}

.list_item-setup, .points_item-1 {
  list-style-image: url("img/gear_icon.png");
}

.list_item-control, .points_item-2 {
  list-style-image: url("img/star_icon.png");
}

.list_item-star {
  list-style-image: url("img/cloud_icon.png");
}

.list_item-security {
  list-style-image: url("img/lock_icon.png");
}

.item_div {
  max-width: 200px;
}

.div_learn-more {
  width: 169px;
  height: 61px;
  color: #222;
  font-weight: 700;
  font-size: 16px;
  background-color: #FFF;
  border: none;
  padding: 11px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
}

.div_title {
  font-size: 40px;
  font-weight: 700;
}

.main_protfolio {
  height: 700px;
  display: flex;
}

.item_text-3, .item_text-2, .item_text-1 {
  margin-top: 0;
}

.item_title-1, .item_title-2, .item_title-3 {
  margin-bottom: 0;
}

.portfolio_photo {
  padding-top: 30px;
  padding-left: 30px;
}

.portfolio_div-portfolio {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-image: url("img/bg-icon.png");
  background-position-y: center;
  background-repeat: no-repeat;
}

.points_item-3 {
  list-style-image: url("img/diagram_icon.png");
}

.protfolio_for-image {
  background-image: url("img/ipad-air.png");
  background-repeat: no-repeat;
  background-position-y: center;
  height: 100%;
  width: 50%;
}

.div-portfolio_text-2, .div-portfolio_points {
  margin-bottom: 0;
}

.main_gallery {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.gallery_link {
  margin: 0;
}

.gallery_item {
  margin: 0;
  max-height: 100vh;
  width: 50vw;
}
