body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.header {
  height: 645px;
  background-image: url("img/TransparencyLayer.png");
}

.header_container {
  padding: 67px 1.820728291316527%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 28px;
}

.container_menu {
  padding: 0;
  width: 51%;
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  text-transform: uppercase;
}

li a {
  display: block;
  color: #FFF;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.header_part {
  width: 100%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.line {
  border-bottom: 1px solid rgb(151, 83, 83);
  width: 111px;
}

.part_1 {
  padding: 50px 30% 0;
  margin: 0;
  text-transform: uppercase;
}

.part_2 {
  color: #CCC;
  padding: 50px 24.828125% 0;
}

.main_core {
  display: grid;
  margin: 0 100px;
  grid-template-columns: 33.33333333333333% 33.33333333333333% 33.33333333333333%;
  grid-row-gap: 50px;
}

.block__text-1, .block__text-2, .block__text-3 {
  text-align: center;
}

.block__img {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.main__core-title, .block__title {
  text-align: center;
  text-transform: uppercase;
}
