{
  "editor": {
    "formatOnSave": true,
    "formatOnPaste": true,
    "fontFamily": "Fira Code",
    "fontSize": "16",
    "fontLigatures": true,
    "tabSize": 4,
    "tabCompletion": true
  },
  "prettier": {
    "singleQuote": true,
    "semi": false,
    "trailingComma": "es5",
    "printWidth": 80
  }
}
