body {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #888;
}

.section1 {
  width: 1024px;
  height: 480px;
  background-image: url("images/image.jpg");
  background-size: cover;
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-around;
}

.logo {
  margin: auto;
  width: 107px;
  height: 30px;
  background-image: url("images/Dreams.png");
}

.menu {
  margin: auto;
  text-transform: uppercase;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #FFF;
  margin-right: 20px;
}

a :hover {
  color: #D8EDF5;
}

.block__heading {
  width: 100%;
  height: 400px;
  display: block;
  justify-content: center;
  align-content: center;
}

h1.heading {
  margin-top: 0;
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #FFF;
}

p.title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  color: #FFF;
}

.line {
  margin: auto;
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 400px;
  justify-content: center;
  background-color: #FFF;
}

.block__headline {
  height: 40%;
}

.headline {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #222;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}

.container__box_1 {
  text-align: center;
  width: 25%;
}

.container__box_2 {
  text-align: center;
  width: 25%;
}

.container__box_3 {
  text-align: center;
  width: 25%;
}

h4.subtitle {
  font-size: 16px;
  text-transform: uppercase;
  color: #222;
}

.desc {
  font-size: 14px;
  color: #888;
}

img.icon {
  width: 62px;
  height: 55px;
}