* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 1024px;
  color: #777;
}

.container {
  width: 900px;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
}

/* underline */

.underline {
  content: "";
  display: flex;
  justify-content: center;
  width: 111px;
  height: 1px;
  background-color: #35C2F8;
}

.title-h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}

.title-h3 {
  font-size: 16px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
  line-height: 2;
}

.content-icon {
  width: 30px;
  height: 30px;
  padding-right: 15px;
}
/* header */

.heading {
  background: url("images/background.png") #3C3D3C no-repeat center top / cover;
  background-blend-mode: multiply;
  height: 645px;
  display: flex;
  flex-wrap: nowrap;
}

.heading-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
}

.logo {
  margin: 39px 0 0 ;
}

/* menu */

.nav {
  margin: 53px 0 0;
}

.nav-menu {
  padding: 0;
  margin: 0;
}

.nav-menu__list {
  margin: 0 52px 0 0 ;
  list-style: none;
  display: inline;
}

.nav__link {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #F00;
}

/* title */

.heading-title {
  text-align: center;
}

.heading-title__h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: #FFF;
  margin-top: -420px;
}


.heading-title .underline {
  margin: 51px auto 0 ;
}

.heading-title__text {
  color: #CCC;
  font-size: 20px;
  line-height: 30px;
  margin-top: 53px;
  margin-bottom: 135px
}

/* servises */

.servises {
  height: 534px;
  margin-top: 100px;
  display: flex;
  flex-wrap: nowrap;
}

.servises-title {
  text-align: center;
  display: block;
  padding-top: 100px;
}

.servises .underline {
  margin: 42px auto 0;
}

.flex-servises {
  display: flex;
  justify-content: space-between;
  margin: 77px auto 0 ;
}

.servises-content {
  text-align: center;
}

.servises-content__title {
  padding-top: 38px;
}

.servises-content__text {
  color: #888;
  padding-top: 20px;
}

/* expertise */

.expertise {
  height: 616px;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
}

.flex-expertise {
  flex-basis: 70%;
  padding-left: 50px;
  margin: 0;
}

.expertise-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 2;
  padding-top: 36px;
  padding-bottom: 54px
}

.expertise-content {
  display: flex;
  margin-bottom: 32px;
  align-items: left;
  justify-content: space-between;
}

.expertise-content__block {
  display: flex;
  flex-direction: column;
  padding-right: 2%;
}

.expertise-content__title {
  text-transform: uppercase;
  margin-left: 0;
}

.expertise-content__text {
  line-height: 1.8;
}

.expertise-button {
  width: 150px;
  height: 50px;
  background-color: #FFF;
  border: .5px solid #35C2F8;
  border-radius: 80px;
  font-size: 12px;
  color: #222;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
}

.expertise-button:hover {
  background-color: #35C2F8;
  color: #FFF;
}

.expertise-picture_block {
  flex-basis: 23%;
  margin: 0;
}

.expertise-picture {
  height: 616px;
  width: 307px;
  object-fit: cover;
}

/* portfolio */

.portfolio {
  height: 700px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.portfolio-flex {
  justify-content: left;
  background: url("images/Background_-_Users-Icon.png") no-repeat bottom;
  margin-left: 50px;
  flex-basis: 550px;
}

.portfolio-text {
  line-height: 1.8;
  padding-top: 33px;
}

.portfolio-content__flex {
  display: flex;
  padding-top: 30px;
  line-height: 1.8;
}

.portfolio-picture__img {
  width: 1080px;
  height: 605px;
  position: relative;
  margin-right: -560px;
}

.portfolio-photos {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.portfolio-photos__img {
  width: 340px;
  height: 276px;
}
