* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  width: 1024px;
}

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

div {
  box-sizing: border-box;
}

/* underline */

.underline {
  content: "";
  display: block;
  width: 111px;
  height: 1px;
  background-color: #35C2F8;
}
/* header */

header {
  background: url("images/background.png") rgb(65, 58, 58) no-repeat center top / cover;
  background-blend-mode: multiply;
  height: 645px;
}


.logo {
  margin: 39px 0 0 130px;
  float: left;
}

/* menu */

.nav {
  float: right;
  margin: 53px 130px 0 0;
  position: relative;
}

.nav-menu {
  padding: 0;
  margin: 0;
  display: block;
}

.nav-menu__list {
  float: left;
  display: block;
  margin: 0 42px 0 0 ;
}

.nav__link {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  color: rgb(255, 0, 0);
}

/* title */

.heading-title {
  text-align: center;
}

.heading-title__h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 174px;
}

.heading-title .underline {
  margin: 51px auto 0 ;
}

.heading-title__text {
  color: #CCC;
  font-size: 20px;
  line-height: 30px;
  margin-top: 53px;
}


/* servises */

.servises {
  height: 534px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.servises-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  display: block;
}

.servises .underline {
  margin: 42px auto 0;
}

.grid-servises {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 77px auto 0 ;
  align-items: center;
}

.servises-content {
  text-align: center;
}

.servises-content__title__link {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
}

.servises-content__title__link:hover {
  color: #888;
}

.servises-content__title {
  margin-top: 38px;
}

.servises-content__text {
  color: #888;
  margin-top: 20px;
}

