/* Global style */

.body {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background: #F1F1F1;
  line-height: 1.4;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.section {
  background: #FFF;
  width: 100%;
}

.button {
  border: none;
  cursor: pointer;
  padding: 23px 50px;
  border-radius: 50px;
}

.h1 {
  font-size: 41px;
  text-transform: uppercase;
}

.h2 {
  text-transform: uppercase;
  color: #000;
  margin-top: 45px;
  font-size: 40px;
  margin-top: 0;
  padding-top: 45px;
}

.h4-black {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
}

.date {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
}

.h2_bottom-blue-line:after {
  content: "";
  width: 111px;
  height: 2px;
  background: #35C2F8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.h3 {
  font-weight: 100;
}

.container {
  max-width: 900px;
  width: 900px;
}

/* Header */

.home-header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  align-items: center;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  padding-left: 24px;
  transition: .5s all;
}

.nav__link:hover {
  color: #35C2F8;
  transition: .5s all;
}

/*Section Slider Home */

.slide-home__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-home {
  height: 697px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slider-home:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #607D8B61;
  position: absolute;
}

.slide-home__desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  height: 100%;
  color: #FFF;
  max-width: 544px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.h1-home:after {
  content: "";
  width: 111px;
  height: 2px;
  background: #35C2F8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
}

/* Section Services */

.services {
  display: flex;
}

.section__services {
  text-align: center;
  padding-bottom: 55px;
}

.services__item {
  text-align: center;
  padding: 0 35px;
}

.p_grey {
  color: #888;
}

.services__item-name {
  text-transform: uppercase;
}

/* HOMEWORK 2 */

/* Section Services */

.section__expertise {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  overflow: hidden;
}

.expertise__info {
  padding-left: 62px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.expertise__description {
  color: #777;
  font-weight: 100;
  letter-spacing: -.4px;
  font-size: 16px;
  padding-bottom: 30px;
}

.expertise__features {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.feature__item {
  display: flex;
  align-items: flex-start;
}

.item-expertise {
  width: 50%;
}

.expertise__background {
  max-width: 33%;
}

.feature__item__img {
  min-width: 43px;
  text-align: center;
}

.feature__item__description {
  padding-left: 20px;
}

.button_white {
  background: #FFF;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #35C2FC;
  transition: .5s all;
}

.button_white:hover {
  background: #35C2F8;
  color: #FFF;
  transition: .5s all;
}

.expertise__img {
  height: 100%;
}

/* SECTION PORTFOLIO */

.section__portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__info {
  padding-left: 62px;
}

.portfolio__info {
  width: 50%;
  position: relative;
}

.portfolio__info_text {
  position: relative;
}

.portfolio__background {
  width: calc(50% - 62px);
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding-top: 8%;
}

.portfolio__info_background {
  position: absolute;
  opacity: .8;
  width: 89%;
  top: 23%;
}

.portfolio__grid {
  display: flex;
  flex-wrap: wrap;
}

.grid__item-3 {
  width: calc(100% / 3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SECTION ABOUT US */

.section__about-us {
  text-align: center;
  padding-bottom: 60px;
}

.img__wrap_circle {
  min-width: 200px;
  height: 200px;
  max-width: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #F1F1F1;
  position: relative;
}

.circle__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle__item {
  display: flex;
  justify-content: flex-start;
  width: 870px;
  margin: 0 auto;
  padding-bottom: 80px;
  position: relative;
  align-items: center;
}

.circle__item:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 89px;
  background: #F1F1F1;
  display: block;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.circle__desc {
  width: 300px;
  text-align: end;
  padding-right: 25px;
}

.about-us__circle {
  display: flex;
  flex-direction: column;
}

.circle__item_reverse {
  justify-content: flex-end;
}

.circle__desc_reverse {
  order: 2;
  text-align: start;
  padding-left: 25px;
  padding-right: 0;
}

.img__wrap_circle_reverse {
  order: 1;
}

.circle__item_last {
  align-self: center;
  background: #35C2F8;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  word-wrap: normal;
  overflow-wrap: normal;
  word-break: normal;
  line-break: auto;
  hyphens: manual;
  cursor: pointer;
}

.circle__item_last:hover {
  background: #009688;
}

/* SECTION AWESOME TEAM */

.team__grid {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.section__our-team {
  background-color: #F7F7F7;
  text-align: center;
}

.social-link {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.social-icon_black {
  background: #000;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.h3__team-name {
  margin-bottom: 0;
}

.p__team-name {
  margin-top: 0;
}

.team__last-p {
  padding: 56px 25%;
}

.button_toogle {
  display: none;
}

@media (min-width: 992px) {

  .body {
    width: 1024px;
  }
}

@media (max-width: 991.98px) {

  .circle__item {
    width: 100%;
  }

  .circle__desc {
    width: 70%;
  }

  .circle__item:after {
    display: none;
  }
}

@media (max-width: 767.98px) {

  .img__wrap_circle {
    min-width: 150px;
    height: 150px;
    max-width: 150px;
  }

  .logo__link {
    padding-left: 26px;
  }
}

@media (max-width: 575.98px) {

  .h2 {
    text-align: center;
  }

  .team__grid {
    width: 100%;
  }

  .grid__item-3 {
    width: 100%;
  }

  .team__grid {
    flex-wrap: wrap;
  }

  .img__wrap_circle {
    min-width: 300px;
    height: 300px;
    max-width: 300px;
  }

  .circle__item {
    flex-wrap: wrap;
    justify-content: center;
  }

  .circle__desc {
    width: 100%;
    text-align: center;
  }

  .circle__desc_reverse {
    order: 1;
  }

  .portfolio__background {
    display: none;
  }

  .portfolio__info {
    width: 100%;
  }

  .mobile-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section__expertise {
    flex-wrap: wrap;
  }

  .expertise__img {
    width: 100%;
    object-fit: cover;
  }

  .expertise__background {
    min-width: 100%;
    height: 300px;
  }

  .button_toogle {
    display: block;
    background: none;
    border: none;
    position: absolute;
    right: 25px;
    top: 23px;
  }

  .nav__list {
    visibility: hidden;
    position: absolute;
    top: -100vh;
    left: 0;
    padding-left: 0;
    background: #9E9E9EDE;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .4s all;
  }

  .nav__mobile .nav__list {
    visibility: visible;
    top: 53px;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-header {
    padding-top: 25px;
    background: #9E9E9EDE;
    padding-bottom: 20px;
    position: fixed;
  }

  .nav__item {
    display: block;
    width: 100vw;
    text-align: center;
    font-size: 30px;
    padding-bottom: 32px;
  }

  .services {
    flex-wrap: wrap;
  }
}
