body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background: url("./images/Background.png") rgb(67, 65, 65) no-repeat center top;
  background-blend-mode: multiply;
}

.container {
  width: 1024px;
  border: 1px solid transparent;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 32px;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: -52px;
}

.menu {
  margin: 0;
  padding: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 40px;
}

.menu a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}

.h2_text {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: #CCC;
  margin-bottom: 140px;
}

.title-header {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  margin-top: 210px;
  font-size: 50px;
  color: #FFF;
  position: relative;
}

.main-services {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.service-item {
  text-align: center;
  margin: 20px;
}

.service-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
}

.underline:after {
  left: 45%;
  bottom: -45px;
  width: 111px;
  height: 2px;
  background: #35C2F8;
  content: "";
  position: absolute;
}

.title-section {
  text-transform: uppercase;
  margin-top: 70px;
  font-size: 40px;
  color: rgba(34, 34, 34, 255);
}

.title-section_fix {
  text-align: center;
  position: relative;
}

.section-padding {
  padding: 100px;
}

.paragraph-margin {
  margin-top: 20px;
}

.container-fix {
  background-color: #F7F7F7;
  justify-content: center;
}

.service-img_section {
  margin-top: 25px;
  width: 30px;
  height: 30px;
}

.service-paragraph {
  text-transform: none;
  color: #CCC;
}

.service-title_block {
  margin-top: 10px;
  padding: 12px;
  text-transform: uppercase;
  color: #000;
}

.block {
  display: flex;
  flex-direction: row;
}

.text-button {
  position: absolute;
  color: #000;
  margin-top: -45px;
  margin-left: 35px;
}

.service-paragraph_four_section {
  margin-top: 5px;
  padding: 10px;
  text-transform: none;
  font-size: 14px;
  color: #CCC;
}

.bottom-text_third_section {
  display: flex;
  flex-direction: column;
  background: url("./images/background3.png") 30% 30% no-repeat;
}

.image-flex {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.paragraph-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.left {
  margin-left: 410px;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 100px;
}

.margin-fix {
  margin-right: 295px;
}

.button {
  border-radius: 30px;
  background-color: 000;
  color: #111;
  padding: 15px 20px 13px; 
  cursor: pointer;
  border: 1px solid black;
  font-size: 16px;
  text-transform: uppercase;
}
