body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background: url("./images/Background.png") rgb(67, 65, 65) no-repeat center top;
  background-blend-mode: multiply;
}

.container {
  width: 1024px;
  border: 1px solid transparent;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 32px;
}

.mainMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: -52px;
}

.menu {
  margin: 0;
  padding: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 40px;
}

.menu a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}

.h2_text {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: #CCC;
  margin-bottom: 140px;
}

.titleTwoSection {
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;
  font-size: 40px;
  color: rgba(34, 34, 34, 255);
  position: relative;
}

.titleHeader {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  margin-top: 210px;
  font-size: 50px;
  color: #FFF;
  position: relative;
}

.main-services {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.service-item {
  text-align: center;
  margin: 20px;
}

.service-paragraph {
  text-transform: none;
  font-size: 14px;
  color: #CCC;
}

.service-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
}

.underline:after {
  left: 45%;
  bottom: -45px;
  width: 111px;
  height: 2px;
  background: #35C2F8;
  content: "";
  position: absolute;
}

.containerThrird {
  width: 1200px;
  background-color: #F7F7F7;
  margin-left: 200px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titleThirdSection {
  text-transform: uppercase;
  margin-top: 70px;
  font-size: 40px;
  color: rgba(34, 34, 34, 255);
  position: relative;
}

.service-imgThrirdBlock {
  margin-top: 25px;
  width: 30px;
  height: 30px;
}

.service-paragraphThrirdBlock {
  margin-top: -30px;
  padding: 10px;
  text-transform: none;
  font-size: 16px;
  color: #CCC;
}

.service-titleThrirdBlock {
  margin-top: 10px;
  padding: 12px;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
}

.bottomblock {
  display: flex;
  flex-direction: row;
}

.block {
  display: flex;
  flex-direction: row;
}

.button {
  position: relative;
}

.imgButton {
  position: absolute;
}

.textButton {
  color: #000;
  position: relative;
}

.sectionFour {
  width: 1400px;
  margin-left: 100px;
  padding: 100px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
}

.service-paragraphFourBlock {
  margin-top: 5px;
  padding: 10px;
  text-transform: none;
  font-size: 14px;
  color: #CCC;
}

.service-titleFourBlock {
  text-transform: uppercase;
  margin-top: 70px;
  font-size: 40px;
  color: rgba(34, 34, 34, 255);
}

.bottomText {
  display: flex;
  flex-direction: column;
  background: url("./images/background3.png") 30% 30% no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1400px;
  border: 1px solid transparent;
  margin: 0 auto;
}