body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #777;
  background-color: #F1F1F1;
}

.wrapper {
  overflow: hidden;
  width: 1024px;
  margin: 30px auto;
}

/* Header Section */

header {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("images/header_bg.png") no-repeat;
  background-size: cover;
}

header .filter {
  overflow: hidden;
  margin: 0;
  padding: 40px 130px 0;
  background-color: #000;
  opacity: .75;
}

header .filter nav {
  display: flex;
  justify-content: space-between;
  margin: 0 0 140px;
}

header .filter nav h1 {
  margin: 0;
}

header .filter nav h1 .logo,
header .filter nav h1 .logo img {
  display: block;
}

header .filter nav h1 .logo:hover {
  opacity: .9;
}

.main-menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  overflow: hidden;
  margin: 0 0 0 50px;
}

.main-menu li a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
}

.main-menu li a:active,
.main-menu li a:hover {
  color: #35C2F8;
}

.site_description {
  overflow: hidden;
  margin: 0 0 140px;
}

.site_description h2 {
  margin: 0;
  padding: 0 0 51px;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  background: url("images/line.png") no-repeat center bottom;
}

.site_description p {
  margin: 0;
  padding: 54px 0 0;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #CCC;
}

/* Main Section */
/* Services Section */

.services {
  overflow: hidden;
  margin: 0;
  padding: 99px 0;
  background-color: #FFF;
}

.services h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  color: #222;
}

.services h3.lined {
  margin: 0 0 79px;
  padding: 0 0 40px;
  text-align: center;
  background: url("images/line.png") no-repeat center bottom;
}

.services .serv-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services .serv-menu li {
  overflow: hidden;
  margin: 0;
}

.services .serv-menu li a {
  overflow: hidden;
  display: block;
  padding: 94px 0 19px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
}

.services .serv-menu li a:hover {
  color: #35C2F8;
}

.services .serv-menu li a.serv_icon.serv_icon_1 {
  background: url("images/serv_design_icon.png") no-repeat center top;
}

.services .serv-menu li a.serv_icon.serv_icon_2 {
  background: url("images/serv_dev_icon.png") no-repeat center top;
}

.services .serv-menu li a.serv_icon.serv_icon_3 {
  background: url("images/serv_support_icon.png") no-repeat center top;
}

.services .serv-menu li p {
  overflow: hidden;
  width: 283px;
  margin: 0;
  color: #888;
  text-align: center;
  font-family: inherit;
}