.body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: #D3D3D3;
}

.wrapper {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
}

.top-wrap {
  min-height: 470px;
  display: flex;
  flex-direction: column;
  background-image: url("images/header-img.jpg");
}

.top-wrap:after {
  content: "";
  background-color: #030303;
}

.header {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.header__logo {
  flex-grow: 2;
  text-decoration: none;
  color: #FFF;
}

.header__nav {
  flex-grow: 5;
  display: flex;
  justify-content: flex-end;
}

.header__nav--list {
  display: inline-block;
}

.header__nav--item {
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  outline: none;
}

.header__nav--item:hover {
  color: #35C2F8;
  font-weight: 300;
}

.header__nav--item:active {
  color: #35C2F8;
  font-weight: 300;
}

.top-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
  color: #FFF;
}

.top-info__title {
  width: 400px;
  font-size: 33px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.top-info__title:after {
  content: "";
  width: 111px;
  height: 1px;
  background: #35C2F8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.top-info__description {
  width: 400px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
}

.services__title:after {
  content: "";
  width: 111px;
  height: 1px;
  background: #35C2F8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.services__subtitle {
  line-height: 75px;
  text-transform: uppercase;
}

.services__content {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

.services__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}