.body {
  padding: 0;
  margin: 0 auto;
  background: #FFF;
  font-family: "Open Sans", "sans-serif";
}

.dreem {
  background: url("images/background.jpg") no-repeat top center;
  background-size: cover;
  display: flex;
  min-height: 657px;
  flex-direction: column;
  position: relative;
  align-items: center;
}


.header__logo {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.dreem_header {
  padding: 15px;
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.logo {
  max-height: 30px;
}


.menu__link {
  font-family: Montserrat;
  padding: 25px;
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__link:hover {
  opacity: .5;
  transition: opacity .4s ease;
  color: rgb(104, 0, 0);
  text-decoration: none;
}

.header__title {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 620px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.title__solution {
  font-family: Montserrat;
  margin-top: 70px;
  font-size: 50px;
  text-transform: uppercase;
  color: #FFF;
  position: relative;
  font-weight: 700;
}

.title__description:before {
  content: " ";
  display: block;
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  margin: 50px auto;
}

.services:after {
  content: " ";
  display: block;
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  margin: 35px auto;
}

.title__description {
  margin-top: 10px;
  font-size: 20px;
  color: #CCC;
  margin-bottom: 60px;
}

.main {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  height: 0;
}

.content {
  width: 1000px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.block {
  width: 282px;
}

.services {
  font-family: Montserrat;
  font-size: 40px;
  line-height: 75px;
  color: #222;
  font-weight: 700;
  letter-spacing: -2px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.block__img {
  width: 62px;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.block__title {
  font-family: Montserrat;
  color: #222;
  font-weight: 700;
  font-size: 16px;
  line-height: 75px;
  letter-spacing: -.4px;
  text-transform: uppercase;
}

.block__text {
  font-family: Montserrat;
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -.35px;
}

.expertise {
  background: url("images/image.png");
  background-repeat: no-repeat;
  background-color: #F7F7F7;
  background-size: contain;
  background-position: right;
}

.block__text--size {
  width: 554px;
}

.content__title {
  color: #222;
  font-family: Montserrat;
  font-size: 40px;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  font-weight: 700;
  text-align: initial;
}
