* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.page {
  max-width: 1024px;
  background-color: #FFF;
}
/* header */

.heading {
  background-image: url("images/Transparency_Layer.png"), url("images/Everyone-Is-a-Project-Manager-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading__top {
  display: flex;
  justify-content: space-around;
}

.heading__img_logo {
  margin-top: 30px;
  margin-left: 15px;
}

.labelMobileMenu {
  display: none;
}

.checkboxMenu {
  display: none;
}

.heading__menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  line-height: 100px;
}

.heading__menu_box {
  color: #FFF;
  margin-left: 39px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px;
}

.heading__menu_box:hover {
  color: #777;
}

.heading__menu_box:focus {
  color: #35C2F8;
}

.heading__wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.heading__title {
  width: 40%;
  color: #FFF;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 800;
  margin-top: 70px;
  text-align: center;
}

.heading__title:after {
  width: 78px;
  height: 1px;
  display: block;
  content: "";
  background-color: #35C2F8;
  margin: 31px auto;
}

.heading__text {
  width: 35%;
  text-align: center;
  color: #CCC;
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 95px;
}

/* Medium devise (tablets, less than 922px) */
@media (max-width: 992px) {

  .heading {
    width: 100%;
    max-height: 80vh;
  }

  .heading__img_logo {
    justify-content: flex-start;
  }

  .heading__menu_box {
    color: #FFF;
    margin-left: 0;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 4px;
  }

  .labelMobileMenu {
    display: block;
    text-transform: uppercase;
    margin-left: 32%;
    margin-top: 35px;
    color: #F1F1F1;
    font-weight: 800;
  }

  .heading__menu {
    display: none;
  }

  .menuMobile:checked + .heading__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100%;
    padding-left: 0;
    margin-left: 35%;
    position: absolute;
    width: 10%;
    margin-top: 57px;
  }

  .heading__title {
    width: 50%;
  }

  .heading__text {
    width: 45%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

  .heading__title {
    width: 55%;
  }

  .heading__text {
    width: 55%;
  }

  .labelMobileMenu {
    display: block;
    margin-left: 35%;
  }

  .menuMobile:checked + .heading__menu {
    margin-left: 37%;
  }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

  .heading__title {
    width: 60%;
  }

  .heading__text {
    width: 75%;
  }
}


/* For all section*/

.title {
  color: #222;
  text-transform: uppercase;
}

.section_title {
  font-size: 29px;
  font-weight: 700;
}

.box_title {
  font-size: 13px;
  font-weight: 600;
}

.box_text {
  color: #777;
  font-size: 11px;
  line-height: 16px;
}

/* Core Services Box */

.coreServices__title {
  line-height: 75px;
  text-align: center;
  padding-top: 45px;
}

.coreServices__title:after {
  width: 78px;
  height: 2px;
  display: block;
  content: "";
  background-color: #35C2F8;
  margin: 15px auto;
}

.coreServices__tasksBlock {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
}

.coreServices__task {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 70px;
}

.coreServices__task_title {
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
}

.coreServices__task_title:hover {
  color: #777;
  font-weight: 700;
}

.coreServices__task_text {
  line-height: 20px;
  text-align: center;
}

.coreServices__task_icon {
  width: 50px;
  height: 50px;
  margin: 28px auto;
  fill: #DDD;
}

/* Medium devise (tablets, less than 922px) */
@media (max-width: 992px) {

  .coreServices__title {
    padding-top: 5%;
  }

  .coreServices__tasksBlock {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .coreServices__task {
    width: 55%;
    padding-bottom: 50px;
  }

  .coreServices__task_icon {
    margin: 15px auto;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

  .coreServices__task {
    width: 75%;
    padding-bottom: 40px;
  }

  .coreServices__task_icon {
    margin: 10px auto;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

  .coreServices__title {
    padding-top: 5%;
  }
}

/* other expertise */

.otherExpertise {
  background-color: #F7F7F7;
  display: flex;
}

.otherExpertise__contentWrap {
  width: 90%;
  padding-top: 51px;
  padding-left: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.otherExpertise__text {
  color: #777;
  font-size: 13px;
  width: 90%;
}

.otherExpertise__infoWrap {
  display: flex;
  flex-wrap: wrap;
}

.otherExpertise__infoBox {
  margin: 15px 5px;
  display: flex;
  width: 40%;
}

.infoBox_img {
  fill: #777;
  width: 45px;
  height: 35px;
  margin: 8px;
  display: flex;
}

.infoBox_title {
  font-size: 11px;
  line-height: 22px;
}

.otherExpertise_but {
  margin: 20px;
}

.otherExpertise_buttom {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: #FFF;
  border-radius: 30px;
  box-shadow: 0 0 1px 0 #777;
  border-style: none;
  padding: 15px 25px;
}

.otherExpertise_buttom:hover {
  box-shadow: 0 0 2px 1px #777;
}

.otherExpertise_img {
  flex-grow: 1;
  width: 250px;
  height: 450px;
}

/* Medium devise (tablets, less than 922px) */
@media (max-width: 992px) {

  .otherExpertise {
    display: flex;
    justify-content: center;
  }

  .otherExpertise__infoWrap {
    margin-left: 10%
  }

  .otherExpertise_img {
    display: none;
  }

  .otherExpertise__contentWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    width: 100%;
  }

  .otherExpertise__text {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    text-align: center;
  }

  .otherExpertise_but {
    margin-bottom: 45px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

  .otherExpertise__infoWrap {
    margin-left: 5%;
  }

  .otherExpertise__infoWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .otherExpertise__infoBox {
    margin: 2% 1%;
    display: flex;
    width: 50%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

  .otherExpertise__infoBox {
    width: 80%;
  }
}

/* Portfolio */

.portfolio {
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.portfolio_contentWrap {
  margin: 11px;
  margin-left: 63px;
  width: 45%;
  height: 70%;
  background: url("images/background-users-icon.svg") no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.portfolio__infoBox {
  margin-top: 2%;
  display: flex;
  width: 90%;
}

.portfolio_title {
  padding-top: 4%;
  padding-left: 6%;
}

.portfolio_text {
  margin-bottom: 15px;
}

.portfolio__imgSection {
  margin-top: 55px;
  width: 470px;
}

/* Medium devise (tablets, less than 922px) */
@media (max-width: 992px) {

  .portfolio {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio_contentWrap {
    width: 75%;
    height: 100%;
    margin-bottom: 7%;
    align-items: center;
    background-position: center;
  }

  .portfolio__imgSection {
    display: none;
  }

  .portfolio__infoBox {
    margin-top: 3%;
    width: 60%;
  }

  .portfolio_text {
    text-align: center;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

  .portfolio__infoBox {
    width: 70%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

  .portfolio__infoBox {
    width: 90%;
  }
}

/* gallery */

.portfolio__gallery_wrap {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__img {
  width: 33.3%;
  height: 50%;
}

/* Medium devise (tablets, less than 922px) */
@media (max-width: 992px) {

  .portfolio__img {
    width: 50%;
  }
}

/* About Us */

.aboutUs__box {
  display: flex;
}

.aboutUs__title {
  text-align: center;
  padding-top: 45px;
}

.aboutUs__title:after {
  width: 78px;
  height: 1px;
  display: block;
  content: "";
  background-color: #35C2F8;
  margin: 31px auto;
}

.aboutUs__box--left {
  padding-left: 139px;
}

.aboutUs__box--right {
  padding-left: 445px;
}

.aboutUs__box:after {
  margin-top: 132px;
  margin-left: -67px;
  margin-right: 87px;
  height: 67px;
  width: 2px;
  background-color: #F1F1F1;
  display: block;
  content: "";
}

.aboutUs__box_img {
  width: 131px;
  height: 131px;
  border: 5px solid #F1F1F1;
  border-radius: 50%;
}

.aboutUs__box_content {
  padding-top: 10px;
  padding-right: 20px;
  width: 306px;
}

.content-left {
  text-align: right;
}

.content-right {
  text-align: left;
  order: 1;
}

.aboutUs__lastbox {
  display: flex;
  margin-left: 445px;
  background-color: #35C2F8;
}

.lastbox_text {
  padding-top: 20px;
  padding-left: 22px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0,7);
  color: #FFF;
  font-size: 14px;
}

/* Medium devise (tablets, less than 922px) */
@media (max-width: 992px) {

  .aboutUs__box {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
  }

  .aboutUs__box:after {
    display: none;
  }

  .content-left {
    text-align: left;
    order: 1;
  }

  .aboutUs__box--right {
    padding-left: 0;
  }

  .aboutUs__box--left {
    padding-left: 0;
  }

  .aboutUs__box_content {
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 0;
    width: 50%;
  }

  .aboutUs__lastbox {
    margin-left: 18%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

  .aboutUs__lastbox {
    margin-left: 15%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

  .aboutUs__lastbox {
    margin-left: 13%;
  }
}

/* Awesome Team */

.awesomeTeam {
  margin-top: 65px;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.awesomeTeam__title {
  text-align: center;
  padding-top: 45px;
}

.awesomeTeam_wrap {
  width: 65%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 40px;
}

.awesomeTeam_boxForPhoto {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #222;
}

.awesomeTeam__text {
  padding-top: 45px;
  padding-bottom: 65px;
  padding-left: 30px;
  padding-right: 30px;
  color: #777;
  font-size: 13px;
  text-align: center;
}

.awesomeTeam_dep {
  padding-top: 20px;
  text-align: center;
}

.awesomeTeam_FullName {
  color: #222;
  font-weight: 700;
}

.socialNet_box {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 6px;
}

.socialNet_box:hover {
  box-shadow: 0 0 4px 0 #35C2F8;
}

.socialNet_boxWrap {
  display: flex;
  justify-content: center;
}

/* Medium devise (tablets, less than 922px) */
@media (max-width: 992px) {

  .awesomeTeam {
    margin-top: 5%;
  }

  .awesomeTeam_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
  }

  .socialNet_boxWrap {
    padding-bottom: 15%;
  }

  .awesomeTeam_dep {
    padding-top: 2%;
  }

  .awesomeTeam__text {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 10%;
  }
}
