* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.page {
  width: 1024px;
  background-color: #FFF;
}
/* header */

.heading {
  height: 470px;
  background-image: url("images/Transparency_Layer.png"), url("images/Everyone-Is-a-Project-Manager-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading__top {
  display: flex;
  justify-content: space-around;
}

.heading__img_logo {
  display: inline-block;
  margin-top: 30px;
  margin-left: 15px;
  width: 95px;
}

.heading__menu {
  width: 615px;
  display: flex;
  justify-content: flex-end;
  line-height: 100px;
}

.heading__menu_box {
  color: #FFF;
  margin-left: 39px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px;
}

.heading__menu_box:hover {
  color: #777;
}

.heading__menu_box:focus {
  color: #35C2F8;
}

.heading__wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.heading__title {
  width: 380px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 800;
  margin-top: 70px;
  text-align: center;
}

.heading__title:after {
  width: 78px;
  height: 1px;
  display: block;
  content: "";
  background-color: #35C2F8;
  margin: 31px auto;
}

.heading__text {
  width: 302px;
  text-align: center;
  color: #CCC;
  font-size: 15px;
  line-height: 25px;
}


/* For all section*/

.title {
  color: #222;
  text-transform: uppercase;
}

.section_title {
  font-size: 29px;
  font-weight: 700;
}

.box_title {
  font-size: 13px;
  font-weight: 600;
}

.box_text {
  color: #777;
  font-size: 11px;
  line-height: 16px;
}


/* Core Services Box */

.coreServices {
  height: 390px;
}

.coreServices__title {
  line-height: 75px;
  text-align: center;
  padding-top: 45px;
}

.coreServices__title:after {
  width: 78px;
  height: 2px;
  display: block;
  content: "";
  background-color: #35C2F8;
  margin: 15px auto;
}

.coreServices__tasksBlock {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.coreServices__task {
  width: 235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coreServices__task_title {
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
}

.coreServices__task_title:hover {
  color: #777;
  font-weight: 700;
}

.coreServices__task_text {
  line-height: 20px;
  text-align: center;
}

.coreServices__task_icon {
  width: 50px;
  height: 47px;
  margin: 28px auto;
}

/* other expertise */

.otherExpertise {
  height: 450px;
  background-color: #F7F7F7;
  display: flex;
}

.otherExpertise__contentWrap {
  width: 640px;
  height: 420px;
  padding-top: 51px;
  padding-left: 63px;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: space-around;
}


.otherExpertise__text {
  color: #777;
  font-size: 13px;
  width: 603px;
}

.otherExpertise__infoWrap {
  display: flex;
  flex-wrap: wrap;
}

.otherExpertise__infoBox {
  flex-grow: 1;
  margin: 15px 5px;
  display: flex;
}

.infoBox_wrap {
  width: 270px;
}

.infoBox_img {
  width: 25px;
  background-repeat: no-repeat;
  background-size: auto;
  height: 25px;
  margin: 8px;
  display: flex;
  align-content: flex-start;
}

.infoBox_title {
  font-size: 11px;
  line-height: 22px;
}

.otherExpertise_but {
  margin: 20px;
}

.otherExpertise_buttom {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: #FFF;
  border-radius: 30px;
  box-shadow: 0 0 1px 0 #777;
  border-style: none;
  padding: 15px 25px;
}

.otherExpertise_buttom:hover {
  box-shadow: 0 0 2px 1px #777;
}

.otherExpertise_img {
  flex-grow: 1;
  width: 250px;
  height: 450px;
}

/* Portfolio */

.portfolio {
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.portfolio_contentWrap {
  margin: 11px;
  margin-left: 63px;
  width: 470px;
  height: 332px;
  background-image: url("images/backgroundusersicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.portfolio__infoBox {
  margin-top: 25px;
  display: flex;
  width: 390px;
}

.portfolio_title {
  padding-top: 51px;
  padding-left: 63px;
}

.portfolio_text {
  margin-bottom: 15px;
}

.portfolio__imgSection {
  margin-top: 55px;
  width: 470px;
}

/* gallery */

.portfolio__gallery_wrap {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__img {
  width: 341px;
  height: 256px;
}

/* About Us */

.aboutUs__box {
  display: flex;
}

.aboutUs__title {
  text-align: center;
  padding-top: 45px;
}

.aboutUs__title:after {
  width: 78px;
  height: 1px;
  display: block;
  content: "";
  background-color: #35C2F8;
  margin: 31px auto;
}

.aboutUs__box--left {
  padding-left: 139px;
}

.aboutUs__box--right {
  padding-left: 445px;
}

.aboutUs__box:after {
  margin-top: 132px;
  margin-left: -67px;
  margin-right: 87px;
  height: 67px;
  width: 2px;
  background-color: #F1F1F1;
  display: block;
  content: "";
}

.aboutUs__box_img {
  width: 131px;
  height: 131px;
  border: 5px solid #F1F1F1;
  border-radius: 50%;
}

.aboutUs__box_content {
  padding-top: 10px;
  padding-right: 20px;
  width: 306px;
}

.content-left {
  text-align: right;
}

.content-right {
  text-align: left;
  order: 1;
}

.aboutUs__lastbox {
  display: flex;
  margin-left: 445px;
  background-color: #35C2F8;
}

.lastbox_text {
  padding-top: 20px;
  padding-left: 22px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0,7);
  color: #FFF;
  font-size: 14px;
}

/* Awesome Team */

.awesomeTeam {
  margin-top: 65px;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.awesomeTeam__title {
  text-align: center;
  padding-top: 45px;
}

.awesomeTeam_wrap {
  width: 680px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 40px;
}

.awesomeTeam_boxForPhoto {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #222;
}

.awesomeTeam__text {
  padding-top: 45px;
  padding-bottom: 65px;
  padding-left: 30px;
  padding-right: 30px;
  color: #777;
  font-size: 13px;
  text-align: center;
}

.awesomeTeam_dep {
  padding-top: 20px;
  text-align: center;
}

.awesomeTeam_FullName {
  color: #222;
  font-weight: 700;
}

.socialNet_box {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #222;
  margin: 6px;
}

.socialNet_boxWrap {
  display: flex;
  justify-content: center;
}

.socialNet {
  height: 12px;
  margin: auto;
}
