
/* ------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------- */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

ul {
  list-style: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:active,
button:focus {
  outline: none;
}

a {
  color: #111;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

a:hover, a:focus {
  text-decoration: none;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  min-height: 100vh;
  background-color: #FFF;
  color: #777;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

/* ------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------- */

/* seaction */

.section {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* container */

/* In container I use flexbox properties, I thought it's not a better choice, but it works */
/* At the moment I'm dealing with Grid, I thought it will be better in this case. I will apply the Grid a little later */

.container {
  max-width: 1024px;
  width: 100%;
  min-width: 992px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container--column {
  min-height: 100%;
  flex-direction: column;
}

.container--jc-start {
  justify-content: flex-start;
}

.container--jc-between {
  justify-content: space-between;
}

.container--ai-start {
  align-items: flex-start;
}

/* heading */

.heading {
  position: relative;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.heading--set-xxxl {
  padding-top: 20px;
  padding-bottom: 35px;
  font-size: 50px;
  line-height: 1.2;
}

.heading--set-xxl {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  line-height: 1.875;
}

.heading--set-xl {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  text-shadow: -1px 1px 3px #888;
}

.heading--border-btm:after {
  content: "";
  width: 111px;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -55px;
  background-color: #35C2F8;
}

.heading--color-white {
  color: #FFF;
}

.heading--left {
  text-align: left;
}

/* description */

.description__for-h1 {
  padding-top: 35px;
  color: #CCC;
  font-size: 20px;
  line-height: 1.5;
}

.description__for-h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #777;
  font-size: 16px;
}

.description__for-h3 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.description--center {
  text-align: center;
}

.description--left {
  text-align: left;
}

/* list */

.list {
  width: 100%;
  display: flex;
}

.list__item {
  width: 100%;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.list__icon-holder {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.list__icon {
  width: 64px;
  height: 64px;
  color: #DDD;
}

/* link */

.link {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

.link__look-like-a-button {
  display: block;
  width: 169px;
  line-height: 61px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 31px;
  background-color: #FFF;
  color: #222;
  font-weight: 700;
  text-align: center;
}

.link__look-like-a-button:hover {
  background-color: #35C2F8;
  color: #FFF;
}

/* ------------------------------------------------- */
/* HOME */
/* ------------------------------------------------- */

.home {
  width: 100%;
  height: 100vh;
  min-height: 480px;
  padding-top: 30px;
  padding-bottom: 70px;
  background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("./image/bg-home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------- */

.logo-dreams {
  position: relative;
  width: 100px;
  height: 50px;
  display: block;
  margin-left: 15px;
  transition: transform .1s ease-in;
}

.logo-dreams:hover {
  transform: scale(1.02);
}

.logo-dreams__image {
  display: block;
  width: 100%;
  height: auto;
}

.navigation {
  display: inline-flex;
}

.navigation__link {
  display: inline-block;
  border-bottom: 1px solid transparent;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation__link:hover {
  border-bottom-color: #35C2F8;
}

/* ------------------------------------------------- */
/* menu-burger */

.menu-burger__checkbox {
  display: none;
}

.menu-burger__icon {
  display: none;
}

/* ------------------------------------------------- */
/* PAGE-SERVICES */
/* ------------------------------------------------- */

.page-services__list {
  padding-top: 50px;
  margin-right: -15px;
  margin-left: -15px;
}

/* ------------------------------------------------- */
/* PAGE-EXPERTISE-EXPERTISE */
/* ------------------------------------------------- */

.page-expertise {
  overflow: hidden;
  position: relative;
  background-color: #F7F7F7;
}

.page-expertise:after {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 260px;
  background-image: url("./image/bg-expertise.jpg");
  background-position-x: 0;
  background-position-y: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-expertise__container {
  padding-right: 15px;
  padding-left: 15px;
}

.page-expertise__list {
  padding-top: 30px;
  width: 75%;
  flex-wrap: wrap;
}

.page-expertise__link-learn-more {
  margin-top: 30px;
}

.list__item--set-1 {
  width: 50%;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 5px 12px;
  text-align: left;
}

.list__item--gear {
  background-image: url("./image/icon-gear.svg");
}

.list__item--cloud {
  background-image: url("./image/icon-cloud.svg");
}

.list__item--star {
  background-image: url("./image/icon-star.svg");
}

.list__item--lock {
  background-image: url("./image/icon-lock.svg");
}

/* ------------------------------------------------- */
/* PAGE-PORTFOLIO-DESCRIPTION */
/* ------------------------------------------------- */

.page-portfolio-description__container {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  padding-right: 15px;
  padding-left: 15px;
}

.page-portfolio-description__container:before {
  content: "";
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 15px;
  background-image: url("./image/bg-image-users.svg");
  background-position-x: left;
  background-position-y: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: -1;
}

.page-portfolio-description__container:after {
  content: "";
  overflow-y: hidden;
  width: 70%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 50px;
  right: -250px;
  background-image: url("./image/bg-image-ipad.png");
  background-position-x: right;
  background-position-y: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.page-portfolio-description__description {
  width: 50%;
  font-size: 14px;
}

.page-portfolio-description__list {
  width: 50%;
  flex-wrap: wrap;
}

.list__item--set-2 {
  width: 100%;
}

.list__item--pie {
  background-image: url("./image/icon-pie.svg");
}

/* ------------------------------------------------- */
/* PORTFOLIO-GALLERY */
/* ------------------------------------------------- */

.portfolio-gallery {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.portfolio-gallery__image-wrapper {
  flex: 1 1 33.33333333%;
}

.portfolio-gallery__image {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------------------------------------- */
/* PAGE-ABOUT-US */
/* ------------------------------------------------- */

.page-about-us {
  padding-bottom: 90px;
}

.entries-wrapper:before {
  width: 4px;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background-color: #F1F1F1;
}

.entries-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.entry {
  width: 50%;
  position: relative;
  margin-top: 45px;
  padding-right: 110px;
  padding-bottom: 45px;
  padding-left: 110px;
}

.entry:first-of-type {
  margin-top: 0;
}

.entry:last-of-type {
  padding-bottom: 90px;
}

.entry__date {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.entry--left {
  align-self: flex-start;
  text-align: right;
}

.entry--right {
  align-self: flex-end;
  text-align: left;
}

.entry:after {
  width: 168px;
  height: 168px;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  border-radius: 50%;
  border: 7px solid #F1F1F1;
  background-repeat: no-repeat;
  background-position: center;
}

.entry--left:after {
  right: 0;
  margin-right: -84px;
}

.entry--right:after {
  left: 0;
  margin-left: -84px;
}

.entry--item1:after {
  background-image: url("./image/about-us/our-humble-beginnings.jpg");
}

.entry--item2:after {
  background-image: url("./image/about-us/facing-startup-battles.jpg");
}

.entry--item3:after {
  background-image: url("./image/about-us/enter-the-dark-days.jpg");
}

.entry--item4:after {
  background-image: url("./image/about-us/our-triumph.jpg");
}

.our-story-continues {
  z-index: 99;
  width: 168px;
  height: 168px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35C2F8;
  border-radius: 50%;
  border: 7px solid #F1F1F1;
  text-align: center;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

/* ------------------------------------------------- */
/* PAGE-AWESOME-TEAM */
/* ------------------------------------------------- */

.page-awesome-team {
  background-color: #F7F7F7;
}

.page-awesome-team_team-list {
  margin-top: 55px;
}

.page-awesome-team__description {
  padding-top: 50px;
  font-size: 16px;
  text-align: center;
}

.team-list {
  width: 76.5625%;
  display: flex;
}

.single-team-member {
  display: inline-flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  flex: 1 1 33.33333333%;
  padding-right: 20px;
  padding-left: 20px;
}

.team-member-picture {
  display: block;
  width: 220px;
  height: 220px;
  border: 7px solid #FFF;
  border-radius: 50%;
}

.team-member-name {
  padding-top: 10px;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.social-list__item {
  display: inline-block;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.social-list__link {
  width: 41px;
  height: 41px;
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: #111;
  line-height: 38px;
  text-align: center;
}

.social-list__icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  color: #FFF;
  transition: all .1s;
  -webkit-transition: all .1s;
}

.social-list__link:hover .social-list__icon {
  color: #35C2F8;
}

/* ------------------------------------------------- */
/* PAGE-CONTACT-US */
/* ------------------------------------------------- */


.page-contact-us {
  background-color: #000;
}

.page-contact-us__container {
  align-items: flex-start;
  padding-right: 50px;
  padding-left: 50px;
}

.page-contact-us__contant-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FFF;
  padding-bottom: 60px;
}

.page-contact-us__column {
  flex: 0 1 48%;
}

.contacts {
  color: #FFF;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
}

.contacts-list__item {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts-list__link {
  display: block;
  color: #FFF;
  font-size: 16px;
}

.contacts-list__link:hover {
  color: #35C2F8;
}

.contacts-list__icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  color: #FFF;
}

.page-contact-us__form {
  padding-top: 40px;
}

/*
.contacts-list__link--mail {

} */

/* FORM ================================================== */

.form-element-style {
  width: 100%;
  display: block;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: 5px;
  color: #BBB;
}

.user-name {
  height: 50px;
}

.user-email {
  height: 50px;
  margin-top: 25px;
}

.form .user-message {
  height: 167px;
  margin-top: 20px;
  resize: none;
}


.form-submit {
  width: 187px;
  display: block;
  line-height: 61px;
  margin-top: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 31px;
  background-color: #35C2F8;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.form-submit:hover {
  transition: all .25s ease;
  background-color: #FFF;
  color: #222;
}


/* ------------------------------------------------- */
/* FOOTER */
/* ------------------------------------------------- */

.footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #FFF;
}

/* ------------------------------------------------------- */
/* UTILITY COMPONENTS */
/* ------------------------------------------------------- */

.u-color-white {
  color: #FFF;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}


/* ------------------------------------------------------- */
/* MEIDA QUERIES */
/* ------------------------------------------------------- */


/* ====================================================== */
/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {

  .container {
    min-width: 768px;
  }

  /* home */

  .home__navigation {
    margin-right: 15px;
  }

  /* page-expertise */

  .page-expertise {
    background-image: none;
  }

  .page-expertise:after {
    background-image: none;
  }

  .page-expertise__list {
    width: 100%;
  }

  .page-portfolio-description__list {
    padding-top: 20px;
  }

  /* portfolio-gallery */

  .portfolio-gallery {
    width: 100%;
  }

  /* page-awesome-team */

  .team-member-picture {
    width: 150px;
    height: 150px;
  }

  .social-list__link {
    width: 31px;
    height: 31px;
  }

  .social-list__link:after {
    width: 31px;
    height: 31px;
  }

  /* page-contact-us */

  .contacts-list__item {
    flex-basis: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}


/* ================================================= */
/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {

  .container {
    min-width: 576px;
  }

  .heading--set-xxxl {
    font-size: 40px;
  }


  /* header */

  .navigation__link {
    margin-right: 5px;
    margin-left: 5px;
  }

  /* page-services */

  .page-services__list .heading--set-xl {
    padding-top: 0;
  }

  .page-services__list {
    padding-top: 0;
  }

  .list {
    flex-direction: column;
  }

  .list__item {
    width: 100%;
  }

  .list__icon {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* page-portfolio-description */

  .page-portfolio-description__description {
    width: 100%;
  }

  .page-portfolio-description__list {
    width: 100%;
  }

  .page-portfolio-description__container:after {
    background-image: none;
  }

  /* portfolio-gallery */

  .portfolio-gallery {
    width: 100%;
  }

  .portfolio-gallery__image-wrapper {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
  }

  /* page-about-us */

  .entries-wrapper {
    margin-top: 60px;
  }

  .entries-wrapper:before {
    display: none;
  }

  .entry {
    width: 100%;
    align-self: flex-start;
    text-align: left;
    padding-left: 220px;
    padding-right: 30px;
  }

  .entry:after {
    left: 0;
    margin-right: 0;
    margin-left: 30px;
  }

  .entry .heading {
    text-align: left;
  }

  .our-story-continues {
    align-self: flex-start;
    margin-left: 30px;
  }

  /* page-awesome-team */

  .page-awesome-team_team-list {
    margin-top: 25px;
  }

  .team-list {
    flex-direction: column;
  }

  .single-team-member {
    padding-top: 30px;
  }

  .team-member-picture {
    width: 220px;
    height: 220px;
  }

  .social-list__link {
    width: 41px;
    height: 41px;
  }

  .social-list__link:after {
    width: 41px;
    height: 41px;
  }

  /* page-contact-us */

  .page-contact-us__contant-wrapper {
    display: flex;
    flex-direction: column;
  }

  .page-contact-us__column {
    flex-basis: 100%;
  }

  .contacts-list__item {
    flex-basis: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


/* ====================================================== */
/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {

  .section, .container, .portfolio-gallery, .home, .footer {
    max-width: 575px;
    min-width: 480px;
    min-height: 0;
  }

  .home {
    min-height: 480px;
  }

  .home .container--column {
    min-height: 100%;
  }

  .heading--set-xxxl {
    font-size: 35px;
  }

  .header {
    position: relative;
    height: 42px;
    position: relative;
    /* background-image: linear-gradient(to bottom, rgba(51,51,51,0) 0%, rgba(51,51,51,.8) 90%,rgba(51,51,51, 1) 100%); */
    /* background-color: rgba(51, 51, 51, .5); */
  }

  .navigation {
    display: none;
    z-index: 99;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(61, 61, 59, 0) 0%, rgba(61, 61, 59,1) 20%, rgba(61, 61, 59,1) 80%,rgba(61, 61, 59,0) 100%);
  }

  .navigation__link {
    margin-top: 5px;
    border-radius: 50%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(52, 48, 45, .4);
    font-size: 20px;
  }

  .menu-burger__checkbox {
    display: none;
  }

  .menu-burger__icon {
    width: 40px;
    height: 30px;
    display: block;
    position: relative;
    margin-right: 30px;
  }

  .menu-burger__icon-line {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
    border-radius: 9px;
    background-color: #FFF;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    opacity: 1;
  }

  .menu-burger__icon-line:nth-child(1) {
    top: 0;
  }

  .menu-burger__icon-line:nth-child(2), .menu-burger__icon-line:nth-child(3) {
    top: 13px;
  }

  .menu-burger__icon-line:nth-child(4) {
    top: 26px;
  }

  .menu-burger__checkbox:checked ~ .menu-burger__icon .menu-burger__icon-line:nth-child(1) {
    top: 12px;
    width: 0;
    left: 50%;
  }

  .menu-burger__checkbox:checked ~ .menu-burger__icon .menu-burger__icon-line:nth-child(2) {
    transform: rotate(45deg)
  }

  .menu-burger__checkbox:checked ~ .menu-burger__icon .menu-burger__icon-line:nth-child(3) {
    transform: rotate(-45deg)
  }

  .menu-burger__checkbox:checked ~ .menu-burger__icon .menu-burger__icon-line:nth-child(4) {
    top: 12px;
    width: 0;
    left: 50%;
  }

  .menu-burger__checkbox:checked ~ .navigation {
    display: flex;
  }
}
