@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");

@font-face {
  font-family: Bello;
  src: url("./fonts/Bello-Script_6557.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #888;
  font-size: 16px;
  background: #FFF;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1px 15px;
}

/*TOOLS*/

.dreams-display-none {
  display: none;
}

.dreams-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}

.dreams-title--first {
  color: #FFF;
  font-size: 50px;
  line-height: 63px;
  text-align: center;
  padding: 0 190px;
  margin-top: 134px;
}

.dreams-title--second {
  margin-top: 88px;
  text-align: center;
}

.dreams-line:after {
  content: "";
  display: block;
  width: 110px;
  margin: 39px auto 48px;
  border-bottom: 1px solid #35B9EB;
}

.dreams-btn {
  display: inline-block;
  background: #FFF;
  border-radius: 50px;
  border: 1px solid #35C2F8;
  text-transform: uppercase;
  padding: 18px 32px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

/*BLOCKS*/
/*dreams-first*/

.dreams-first {
  background: url("./img/bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 645px;
  color: #FFF;
}

.dreams-first__heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 20px;
}

.dreams-logo {
  font-family: "Bello", sans-serif;
  font-size: 36px;
  line-height: 18.88px;
  margin: 0;
  color: #FFF;
  text-decoration: none;
}

.dreams-navigation__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.dreams-navigation__list-link {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 25px;
}

.dreams-navigation__list-link:hover {
  background: #808080;
}

.dreams-first__about {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 0 270px;
}

/*dreams-second*/

.dreams-second {
  min-height: 535px;
}

.dreams-services {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.dreams-services__item {
  text-align: center;
  min-width: 200px;
  flex-basis: 280px;
}

.dreams-services__item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-top: 33px;
  text-transform: uppercase;
}

.dreams-services__item-text {
  font-size: 14px;
  line-height: 22px;
}

/*DREAMS-THIRD*/

.dreams-third {
  background-color: #F7F7F7;
  min-height: 615px;
  overflow-x: hidden;
}

.dreams-third-content {
  display: flex;
}

.dreams-third-left {
  min-width: 600px;
  flex-basis: 70%;
  flex-grow: 1;
  padding: 56px 70px 20px 0;
}

.dreams-third-right {
  position: relative;
  flex-basis: 30%;
  flex-grow: 1;
  min-height: 615px;
  height: 100%;
}

.dreams-third-right__image {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.dreams-third-expertise {
  margin-top: 45px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dreams-third-expertise__item {
  display: flex;
  flex-basis: 48%;
  min-width: 250px;
}

.dreams-third-expertise__item__left {
  min-width: 45px;
  text-align: center;
  margin-right: 10px;
}

.dreams-third-expertise__item-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

.dreams-third-expertise__item-text {
  font-size: 14px;
  line-height: 1.6;
  margin: 10px 0;
}

.dreams-third-foot {
  margin-top: 25px;
}

/*DREAMS-FORTH*/

.dreams-forth {
  background: url("./img/bg-forth.jpg") no-repeat center;
  background-size: cover;
  min-height: 700px;
}

.dreams-forth-content {
  max-width: 50%;
  padding-top: 52px;
}

.dreams-forth-dreams-forth {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

/*DREAMS-FIFTH*/

.dreams-fifth {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  min-width: 300px;
  flex-basis: 32%;
  flex-grow: 1;
  height: 350px;
}

.portfolio-item:hover {
  opacity: 075;
}

.portfolio-item__image {
  width: 100%;
  height: 100%;
}

/*DREAMS-SIXTH*/

.dreams-sixth-content {
  padding-top: 58px;
}

.dreams-title--sixth {
  text-align: center;
}

.about-list {
  list-style: none;
  padding: 0;
  margin-top: 69px;
}

.about-list-item {
  display: flex;
  min-height: 275px;
  justify-content: space-between;
}

.about-list-item__title {
  text-transform: uppercase;
  color: #222;
  font-size: 16px;
  margin-top: 0
}

.about-list-item__left {
  flex-basis: 35%;
  text-align: right;
}

.about-list-item__center {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-list-item__right {
  flex-basis: 35%;
}

.about-list-item__image-wrap {
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #35C2F8;
  border: 7px solid #F1F1F1;
  width: 180px;
  height: 180px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-list-item__center-line {
  width: 50%;
  border-right: 2px solid #F1F1F1;
  flex-grow: 1;
  align-self: start;
}

.about-list-item__text {
  font-size: 14px;
}

.about-list-item__text-continue {
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}