body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #888;
  margin: 0;
}

.container {
  max-width: 1024px;
  padding: 0 30px;
  margin: 0 auto;
}

.menu, .services__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title-decor {
  position: relative;
}

.title-decor:after {
  width: 112px;
  height: 2px;
  content: "";
  display: block;
  background-color: #35C2F8;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/**Header**/

.header {
  background: #808080 url("images/bunner-background.png") no-repeat 100%/cover;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, .75);
}

/**Header navigation**/

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.menu {
  display: flex;
  align-items: flex-start;
}

.menu li:not(:last-child) {
  margin-right: 50px;
}

.menu li a {
  text-decoration: none;
  color: #FFF;
  font-family: Montserrat, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  transition: .5s;
  position: relative;
}

.menu li a:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #35C2F8;
  transition: .7s;
}

.menu li a:hover:after, .menu li.active a:after {
  width: 100%;
}

/**Main Bunner text**/

.main-text {
  padding: 125px 25px 140px;
  max-width: 544px;
  margin: 0 auto;
  text-align: center;
}

.main-title {
  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: -2.5px;
  padding-bottom: 50px;
  margin: 0 0 55px;
}

.main-description {
  margin: 0;
  color: #CCC;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -.5px;
}

/*Section Services*/

.services {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.section-title {
  color: #222;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

.services__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 40px;
  margin: 0 0 80px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.service-item {
  max-width: 300px;
  margin-bottom: 20px;
}

.service-item:hover i {
  color: #35C2F8;
  transition: .5s;
}

.service-item .fas,
.service-item .fab {
  font-size: 54px;
  color: #DDD;
}

.service-item__title {
  font-size: 16px;
  line-height: 1.3;
  margin: 40px 0 20px;
}

.service-item__description {
  margin: 0;
}

