body {
  width: 1024px;
  font-family: "Open Sans", "sans-serif";
  margin: 0 auto;
}

header {
  background-image: url("images/Background.png");
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, .7);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
}

.header_logo {
  margin-top: 40px;
  margin-left: 120px;
}

.img_header {
  display: flex;
}

.header_menu {
  margin-top: 45px;
  margin-left: 120px;
}

.menu_link {
  margin-left: 30px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu_link:hover {
  color: #F00;
}

.title_text {
  text-align: center;
  font-size: 40px;
  margin: 50px 0 0;
  color: #FFF;
  text-transform: uppercase;
}

.line {
  width: 111px;
  height: 1px;
  background: #35C2F8;
  margin: 51px auto 0;
  display: block;
}

.title_text1 {
  text-align: center;
  font-size: 20px;
  color: #CCC;
  margin: 50px 0 140px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.core {
  font-family: Montserrat;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
  font-weight: 700;
  line-height: 75px;
  margin: 99px 0 0;
  padding-bottom: 0;
}

.service {
  width: 900px;
  margin: 0 auto 101px;
  justify-content: space-between;
  text-align: center;
  padding: 0 0 55px 0;
  display: block;
}

.block_services {
  display: flex;
}

.block {
  width: 30%;
  margin: auto;
}

.block_img {
  margin-top: 80px;
  width: 62px;
  height: 55px;
  margin-bottom: -10px;
}

.block_title {
  margin-bottom: -30px;
  color: #222;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
}

.block_text {
  color: #888;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.expertise {
  background-color: #F7F7F7;
  display: flex;
  width: 100%;
}

.expert_data {
  width: 60%;
  margin: 0 10px 0 50px;
}

.expert_header, .portfolio_header {
  color: #222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
}

.expert_text, .portfolio_text {
  color: #777;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -.4px;
}

.flex_text {
  display: flex;
  text-align: left;
  margin: 0 auto;
}

.gear {
  width: 30px;
  height: 30px;
}

.cloud {
  width: 42px;
  height: 29px;
  margin-left: -12px;
}

.star {
  width: 31px;
  height: 31px;
}

.lock {
  width: 27px;
  height: 39px;
}

.expert_h, .portfolio_h {
  margin: auto  10px;
  width: 60%;
  text-transform: uppercase;
}

.expert_par, .portfolio_par {
  width: 80%;
  margin: 0 0 30px 40px;
  color: #777;
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -.35px;
}

.button_expert {
  text-transform: uppercase;
  padding: 15px 20px;
  margin: 0 15px 15px;
  background-color: #FFF;
  text-align: center;
  border-radius: 30px;
  color: #030303;
  outline: none;
}

.expert_img {
  width: 100%;
}

.expert_background {
  width: 40%;
  margin: auto 0;
}

.portfolio_data {
  display: flex;
}

.portfolio_background {
  width: 50%;
  margin: auto 0;
}

.portfolio__img {
  width: 100%;
}