* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  font: 400 14px/1.57 "Noto Sans", sans-serif;
  color: #777;
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}

.section__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 40px;
  margin: 0 auto 40px;
}

.section__title:after {
  position: absolute;
  content: "";
  display: block;
  width: 110px;
  height: 2px;
  background: #35C2F8;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*header */

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  padding: 40px 0 20px;
  z-index: 200;
}

.container_header {
  display: flex;
  justify-content: space-between;
}

.logo_site {
  display: block;
  width: 108px;
  height: 28px;
  text-decoration: none;
}

.img_logo {
  display: block;
  width: 100%;
  height: auto;
}

/*navigation */

.header__nav {
  display: flex;
  align-items: flex-end;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}

.nav__list--item {
  margin-left: 50px;
}

.nav__list--item:first-child {
  margin-left: 0;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  -webkit-transition: .35s;
  -moz-transition: .35s ;
  -ms-transition: .35s ;
  -o-transition: .35s ;
  transition: .35s ;
}

.nav__link:hover,
.nav__link:focus {
  color: #EE2F1B;
  outline: none;
}

/*section-intro*/

.section__intro {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 645px;
  background: url("images/Background-intro.jpg"), center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 100px 0 20px;
}

.section__intro:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .75);
  z-index: 1;
}

.container__intro {
  position: relative;
  z-index: 2;
}

.section__title_intro {
  max-width: 544px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #FFF;
  padding: 0 0 50px;
  margin: 0 auto 54px;
}

.subtitle {
  max-width: 422px;
  font-size: 20px;
  color: #CCC;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

/*section-services*/

.section__services {
  padding: 100px 0;
  height: 100px;
}

.container__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*card-services*/

.card_services {
  max-width: 280px;
  text-align: center;
  padding-top: 40px;
}

.fas,
.far {
  font-size: 50px;
  color: #DDD;
  margin: 0 auto 40px;
}

.card__title {
  color: #222;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.text {
  margin: 0;
}

