/* For all document */

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

h1,h2,h3,p,ul {
  margin: 0;
  padding: 0;
}

.line:after {
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  display: block;
  content: "";
  margin: 40px auto 0;
}

/* Banner and menu block */

.banner-block {
  background-image: url("images/banner.jpg");
  height: 100vh;
  background-color: rgba(0,0,0,.7);
  background-blend-mode: darken;
  background-size: cover;
}

.header {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  padding-top: 30px;
}

.menu {
  margin-top: 41px;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  font-family: "Montserrat";
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #FFF;
  padding: 10px 25px;
  border-radius: 9px;
}

.menu__link:hover {
  background-color: #FFD700;
  color: #000;
}

/* Banner triggers */

.banner-triggers {
  padding-top: 170px;
}

.trigger-big {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  width: 550px;
  text-align: center;
  margin: auto;
}

.trigger-small {
  color: #CCC;
  width: 425px;
  margin: auto;
  padding-top: 54px;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 100;
  line-height: 35px;
}

.banner-line:after {
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  display: block;
  content: "";
  margin: 51px auto 0;
}

/* Services */

.wrap {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 101px;
}

.content-header {
  padding: 99px 0 79px;
}

.content-header__title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.block-services {
  display: flex;
  justify-content: space-between;
}

.box-service {
  text-align: center;
  width: 33%;
}

.box-service__title {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  color: #222;
  margin: 39px 0 18px;
  text-transform: uppercase;
}

.box-service__text {
  font-family: "Noto Sans";
  line-height: 22px;
  color: #888;
  margin: 0 18px;
}
