/* For all document */

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #777;
  font-weight: 400;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.line:after {
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  display: block;
  content: "";
  margin: 40px auto 0;
}

/* Banner and menu block */

.banner-block {
  background-image: url("images/banner.jpg");
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  background-blend-mode: darken;
  background-size: cover;
}

.header {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  padding-top: 30px;
}

.nav-menu {
  margin-top: 41px;
}

.nav-menu__link {
  font-family: "Montserrat";
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #FFF;
  padding: 10px 25px;
  border-radius: 9px;
}

.menu__link:hover {
  background-color: #FFD700;
  color: #000;
  transition: 1s;
}

/* Banner triggers */

.triggers {
  padding-top: 170px;
}

.triggers__big {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  width: 550px;
  text-align: center;
  margin: auto;
}

.triggers__small {
  color: #CCC;
  width: 425px;
  margin: auto;
  padding-top: 54px;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 100;
  line-height: 35px;
}

.banner-line:after {
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  display: block;
  content: "";
  margin: 51px auto 0;
}

/* Services */

.services-block {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 101px;
}

.content-header {
  padding: 99px 0 79px;
}

.content-header__title {
  font-family: Montserrat;
  font-size: 40px;
  color: #222;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.box-services {
  display: flex;
  justify-content: space-between;
}

.box-service {
  text-align: center;
  width: 33%;
}

.box-service__title {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  color: #222;
  margin: 39px 0 18px;
  text-transform: uppercase;
}

.box-service__text {
  font-family: "Noto Sans";
  line-height: 22px;
  color: #888;
  margin: 0 18px;
}

/* Another expertise */

.content--grey {
  background-color: #F7F7F7;
}

.expertise-wrap {
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 616px;
}

.expertise-block {
  flex: auto;
}

.expertise-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.expertise-block__title {
  margin: 80px 0 36px;
  text-transform: uppercase;
  font-size: 40px;
  color: #222;
  font-weight: 700;
  font-family: Montserrat;
}

.expertise-box-flex, .amazing-box-flex {
  display: flex;
}

.expertise-block__description {
  font-size: 16px;
  font-family: "Noto Sans";
  margin-bottom: 58px;
  max-width: 690px;
}

.expertise-box__title {
  color: #222;
  font-size: 14px;
  margin-bottom: 13px;
  text-transform: uppercase;
}

.expertise-box__description {
  margin-bottom: 32px;
  max-width: 350px;
}

/* Icons set */
/* Custom icon */

.custom--img {
  margin-right: 16px;
}

.custom--desc {
  margin-left: 46px;
}

/* Cloud icon */

.cloud--img {
  margin-right: 10px;
}

.cloud--desc {
  margin-left: 52px;
}

/* Star icon */

.star--img {
  margin-right: 14px;
}

.star--desc {
  margin-left: 45px;
}

/* Secutiry icon  */

.security--img {
  margin-left: 5px;
  margin-right: 22px;
}

.security--desc {
  margin-left: 54px;
}

/* Learning button */

.expertise-boxes__learn-more {
  background-color: #FFF;
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat;
  padding: 23px 36px;
  border-radius: 30px;
}

.expertise-boxes__learn-more:hover {
  background-color: #FFD700;
  color: #FFF;
  transition: 1s;
}

/* Right Image */
/* Add here height for picture, only for be similiar like at PSD */

.expertise-img__img {
  width: 350px;
  position: absolute;
  height: 616px;
  right: 0;
}

/* Amazing Portfolio */

.amazing-wrap {
  display: flex;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 60px;
  max-width: 1024px;
}

.amazing-portfolio__heading {
  font-size: 40px;
  font-weight: 700;
  font-family: Montserrat;
  text-transform: uppercase;
  color: #222;
  margin-top: 100px;
  margin-bottom: 50px;
}

.amazing-portfolio__desc {
  margin-bottom: 40px;
}

.amazing-portfolio-background {
  background-image: url("images/users.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 560px;
}

.amazing-box__img {
  margin-right: 16px;
}

.amazing-box__title {
  text-transform: uppercase;
  color: #222;
  margin-bottom: 13px;
  font-family: Montserrat;
  font-size: 16px;
}

.amazing-box__desc {
  margin-left: 46px;
  margin-bottom: 40px;
}

.amazing-portfolio__ipad {
  position: absolute;
  right: 0;
  width: 550px;
  margin-top: 100px;
}


/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.gallery-item__img {
  width: 33.33%;
}
