/* For all document */

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

h1,h2,h3 {
  margin: 0;
}

.line {
  border-bottom: 2px solid #35C2F8;
  width: 111px;
}

/* Banner and menu block */

.banner-block {
  background-image: url("images/banner.png");
  height: 100vh;
  background-size: cover;
}

.header {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  padding-top: 30px;
}

.menu li {
  display: inline-block;
}

.menu__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #FFF;
  padding: 10px 25px;
  border-radius: 9px;
  font-weight: 400;
  line-height: 100px;
}

.menu__link:hover {
  background-color: #FFD700;
  color: #000;
}

/* Banner triggers */

.banner-triggers {
  padding-top: 145px;
}

.trigger-big {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  color: #FFF;
  width: 544px;
  text-align: center;
  margin: auto;
}

.trigger-small {
  color: #CCC;
  font-size: 20px;
  width: 422px;
  font-weight: 100;
  margin: auto;
  padding-top: 54px;
  text-align: center;
}

.banner-line {
  border-bottom: 2px solid #35C2F8;
  width: 111px;
  padding-top: 51px;
  margin: auto;
}
