* {
  box-sizing: border-box;
  transition: all .3s;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #FFF;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
  vertical-align: middle;
}

a {
  border: none;
  outline: none;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  margin-top: 0;
}

.btn-more {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #FFF;
  border-radius: 30px;
  padding: 19px 33px;
  display: inline-block;
}

.btn-more:hover {
  background-color: #35C2F8;
  color: #FFF;
}

.container {
  width: 100%;
  max-width: 1108px;
  overflow: hidden;
  margin: 0 auto;
}

.heading_1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
  padding-bottom: 40px;
  margin-top: 0;
  margin-bottom: 48px;
}

.heading_2 {
  color: #222;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 33px;
  margin-top: 0;
  margin-bottom: 79px;
  text-transform: uppercase;
  line-height: 1.2;
}

.heading_3 {
  color: #222;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.border_b {
  position: relative;
}

.border_b:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  height: 1px;
  width: 111px;
  background-color: #35C2F8;
}

.home {
  background: url("images/background.png") #3C3D3C no-repeat center / cover;
  background-blend-mode: multiply;
}

.header_top {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  margin-top: 8px;
}

.logo {
  width: 107px;
}

.item-nav {
  display: inline-block;
}

.item-nav:not(:last-child) {
  margin-right: 54px;
}

.link-nav {
  color: #FFF;
  text-transform: uppercase
}

.link-nav:hover {
  color: #EE2F1B;
}

.home .content {
  margin: 120px auto 137px;
  text-align: center;
  max-width: 600px;
  color: #CCC;
  font-size: 20px;
}

.services {
  padding: 89px 0;
  text-align: center;
}

.list-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.item-sevices {
  width: 33.33%;
  max-width: 290px;
  color: #888;
  line-height: 22px;
}

.icon {
  width: 62px;
  margin: 0 auto 36px;
}

/* expertise */

.expertise {
  background-color: #F7F7F7;
  padding: 100px 0 88px;
  color: #777;
  position: relative;
}

.expertise .bg-section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70%;
}

.bg-images {
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.expertise .container {
  padding-right: 26%
}

.list-expertise {
  display: flex;
  flex-wrap: wrap
}

.item-expertise {
  width: 50%;
  padding-right: 20px;
  display: flex;
  align-items: flex-start;
}

.desc-text {
  margin-left: 16px;
}

.desc-text h4 {
  margin-top: 0;
}
