* {
  box-sizing: border-box;
  transition: all .3s;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #777;
}

img {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: contain;
}

a {
  border: none;
  outline: none;
  text-decoration: none;
}

ul, figure {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  margin-top: 0;
}

.btn-more {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #FFF;
  border-radius: 30px;
  padding: 19px 33px;
  display: inline-block;
}

.btn-more:hover {
  background-color: #35C2F8;
  color: #FFF;
}

.container {
  width: 100%;
  max-width: 1108px;
  overflow: hidden;
  margin: 0 auto;
}

.title-page {
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
  padding-bottom: 40px;
  margin-top: 0;
  margin-bottom: 48px;
  color: #FFF;
}

.title-section {
  color: #222;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 79px;
  text-transform: uppercase;
  line-height: 1.2;
}

.title-content {
  color: #222;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.border_b {
  position: relative;
  padding-bottom: 33px;
}

.border_b:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  height: 1px;
  width: 111px;
  background-color: #35C2F8;
}

.home {
  background: url("images/background.png") #3C3D3C no-repeat center / cover;
  background-blend-mode: multiply;
}

.header_top {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  margin-top: 8px;
}

.logo {
  width: 107px;
}

.item-nav {
  display: inline-block;
}

.item-nav:not(:last-child) {
  margin-right: 54px;
}

.link-nav {
  color: #FFF;
  text-transform: uppercase
}

.link-nav:hover {
  color: #EE2F1B;
}

.home .content {
  margin: 120px auto 137px;
  text-align: center;
  max-width: 600px;
  color: #CCC;
  font-size: 20px;
}

.services {
  padding: 89px 0;
  text-align: center;
}

.list-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.item-sevices {
  width: 310px;
  color: #888;
  line-height: 22px;
  padding: 0 10px;
}

.icon {
  margin: 0 auto;
}

.icon_sevices {
  width: 62px;
  margin-bottom: 36px
}

/* expertise */

.expertise {
  background-color: #F7F7F7;
  padding: 100px 0 88px;
  color: #777;
  position: relative;
}

.bg-section {
  position: absolute;
  top: 0;
  bottom: 0;
}

.bg_expertise {
  left: 70%;
  right: 0;
}

.bg-images {
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.container_expertise {
  padding-right: 26%
}

.title-section_expertise {
  margin-bottom: 36px;
}

.description-expertise {
  margin-bottom: 58px;
}

.list-expertise {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.item-expertise {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.icon_expertise {
  width: 40px;
  height: 40px;
}

.block-text {
  padding: 0 20px 0 16px;
  color: #777;
  font-size: 14px;
  width: calc(100% - 40px);
}

.title-content_expertise {
  margin-top: 0;
  color: #222;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* portfolio */

.portfolio {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.container_portfolio {
  padding-right: 44%;
}

.bg_portfolio {
  left: 52%;
  right: -20%;
}

.bg-images_portfolio {
  -o-object-fit: contain;
  object-fit: contain;
}

.desc-portfolio {
  margin-bottom: 40px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.item-portfolio {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.title-content_portfolio {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}

.icon-portfolio {
  width: 32px;
}
