
.body-page {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 1024px;
  background-color: #FFF;
}

.main {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  background: url("images/background.jpg") center top / cover;
  background-size: cover;
  position: relative;
}

.main-overlay {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #000;
  opacity: .75;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 52px;
  width: 85%;
  position: relative;
  z-index: 2;
}

.menu {
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu__item {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 140px;
}

.headline {
  font-size: 50px;
  text-transform: uppercase;
  width: 70%;
  letter-spacing: -2px;
}

.headline:after {
  content: " ";
  display: block;
  width: 111px;
  height: 1px;
  background-color: #35C2F8;
  margin: 0 auto;
}

.description {
  width: 45%;
}

/* second section */

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #222;
  font-size: 30px;
  height: 100vh;
  min-height: 600px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-left: 230;
  margin-right: 230;
}

.services__headline:after {
  content: " ";
  display: block;
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  margin: 0 auto;
}

.core-services {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.core-services__item {
  display: flex;
  flex-direction: column;
  padding: 5  rem;
  width: 282px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  color: #888;
  font-size: 14px;
}

.core-services__headline {
  color: #222;
  font-size: 16px;
}

.core-services__text {
  font-size: 14px;
  text-transform: none;
  color: #777;
}

/* third section */

.other-expertise {
  display: flex;
  background-color: #F7F7F7;
  color: #777;
  font-size: 14px;
  height: 100vh;
  min-height: 600px;
  text-align: left;
  padding-left: 50px;
}

.expertise-header {
  text-transform: uppercase;
  font-size: 30px;
  color: #222;
}

.advantage__headline {
  text-transform: uppercase;
  color: #222;
  font-size: 14px;
}

.advantage__icon {
  padding-top: 15px;
}

.other-expertise__button {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1px;
  border: solid 1px #35C2F8;
  border-radius: 100px;
  padding: 13px 23px;
  max-width: 169px;
  text-align: center;
  margin-top: 49px;
}

.text-expertise {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 50px;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(2, 5%  40%);
  justify-items: end;
  align-items: start;
  grid-column-gap: 20px;
  margin-top: 30px;
}

.other-expertise__image {
  max-width: 350px;
}

/* fourth section */

.amazing-portfolio {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  min-height: 600px;
  padding-left: 35px;
  background: url("images/background-users.png") no-repeat;
  background-size: 500px;
  background-position-y: center;
  background-position-x: 50px;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.portfolio-about {
  display: flex;
  flex-direction: column;
  color: #777;
  font-size: 14px;
  text-transform: uppercase;
  width: 530px;
}

.portfolio-about__header {
  color: #222;
}

.grid-text {
  display: grid;
  grid-template-columns: 34px 420px;
  grid-column-gap: 10px;
}

.portfolio-gallery {
  display: grid;
  height: 100vh;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 0;
  align-content: start;
}

.portfolio-gallery__image {
  max-width: 341px;
}