@font-face {
  font-family: Bello;
  src: url("./fonts/Bello-Script_6557.ttf");
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #888;
  font-size: 16px;
  background: #FFF;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

/*TOOLS*/

.dreams-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}

.dreams-line:after {
  content: "";
  display: block;
  width: 110px;
  margin: 39px auto 48px;
  border-bottom: 1px solid #35B9EB;
}

.dreams-btn {
  display: inline-block;
  background: #FFF;
  border-radius: 50px;
  border: 1px solid #35C2F8;
  text-transform: uppercase;
  padding: 18px 32px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.dreams-btn:hover {
  background: #35C2F8;
  color: #FFF;
}

/*BLOCKS*/
/*dreams-first*/

.dreams-first {
  background: url("./img/bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 645px;
  color: #FFF;
  padding: 33px 0;
}

.dreams-title--first {
  color: #FFF;
  font-size: 50px;
  line-height: 63px;
  text-align: center;
  padding: 0 190px;
  margin-top: 141px;
}

.dreams-first__heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

.dreams-logo-link {
  text-decoration: none;
}

.dreams-logo {
  font-family: "Bello", sans-serif;
  font-size: 36px;
  line-height: 18.88px;
  margin: 0;
  color: #FFF;
}

.dreams-navigation__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.dreams-navigation__list-link {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 25px;
}

.dreams-navigation__list-link:hover {
  background: #808080;
}

.dreams-first__about {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 0 270px;
}

/*dreams-second*/

.dreams-second {
  min-height: 535px;
  padding: 88px 0 20px;
}

.dreams-title--second {
  margin-top: 0;
  text-align: center;
}

.dreams-services {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.dreams-services__item {
  text-align: center;
  min-width: 200px;
  flex-basis: 280px;
}

.dreams-services__item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-top: 33px;
  text-transform: uppercase;
}

.dreams-services__item-text {
  font-size: 14px;
  line-height: 22px;
}

/*DREAMS-THIRD*/

.dreams-third {
  background-color: #F7F7F7;
  min-height: 615px;
  overflow-x: hidden;
}

.dreams-third-content {
  display: flex;
}

.dreams-third-left {
  min-width: 600px;
  flex-basis: 70%;
  flex-grow: 1;
  padding: 56px 70px 20px 0;
}

.dreams-third-right {
  position: relative;
  flex-basis: 30%;
  flex-grow: 1;
  min-height: 615px;
  height: 100%;
}

.dreams-third-right__image {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.dreams-third-expertise {
  margin-top: 45px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dreams-third-expertise__item {
  display: flex;
  flex-basis: 48%;
  min-width: 250px;
}

.dreams-third-expertise__item__left {
  min-width: 45px;
  text-align: center;
  margin-right: 10px;
}

.dreams-third-expertise__item-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

.dreams-third-expertise__item-text {
  font-size: 14px;
  line-height: 1.6;
  margin: 10px 0;
}

.dreams-third-foot {
  margin-top: 25px;
}

/*DREAMS-FORTH*/

.dreams-forth {
  background: url("./img/bg-forth.jpg") no-repeat center;
  background-size: cover;
  min-height: 700px;
  padding: 50px 0;
}

.dreams-forth-content {
  max-width: 50%;
  padding-top: 5px;
}

.dreams-forth-dreams-forth {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

