@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");

@font-face {
  font-family: Bello;
  src: url("./fonts/Bello-Script_6557.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: #888;
  font-size: 16px;
  background: #FFF;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1px 15px;
}

/*TOOLS*/

.dreams-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}

.dreams-title--first {
  color: #FFF;
  font-size: 50px;
  line-height: 63px;
  text-align: center;
  padding: 0 190px;
  margin-top: 134px;
}

.dreams-title--second {
  margin-top: 88px;
  text-align: center;
}

.dreams-line:after {
  content: "";
  display: block;
  width: 110px;
  margin: 39px auto 48px;
  border-bottom: 1px solid #35B9EB;
}

.dreams-btn {
  display: inline-block;
  background: #FFF;
  border-radius: 50px;
  border: 1px solid #35C2F8;
  text-transform: uppercase;
  padding: 18px 32px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.dreams-btn:hover {
  background: #35C2F8;
  color: #FFF;
}

/*BLOCKS*/
/*dreams-first*/

.dreams-first {
  background: url("./img/bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 645px;
  color: #FFF;
}

.dreams-first__heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 20px;
}

.dreams-logo {
  font-family: "Bello", sans-serif;
  font-size: 36px;
  line-height: 18.88px;
  margin: 0;
  color: #FFF;
  text-decoration: none;
}

.dreams-navigation__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.dreams-navigation__list-link {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 25px;
}

.dreams-navigation__list-link:hover {
  background: #808080;
}

.dreams-first__about {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 0 270px;
}

/*dreams-second*/

.dreams-second {
  min-height: 535px;
}

.dreams-services {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.dreams-services__item {
  text-align: center;
  min-width: 200px;
  flex-basis: 280px;
}

.dreams-services__item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-top: 33px;
  text-transform: uppercase;
}

.dreams-services__item-text {
  font-size: 14px;
  line-height: 22px;
}

