body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #777;
}

h1,h2,h3 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}


/****** SECTION MAIN ******/

.main-section {
  background-color: #625E5D;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 130px;
}

.darkened-bg {
  z-index: 1;
  position: relative;
}

.darkened-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
}

.nav {
  display: flex;
}

.nav__link {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 25px;
}

.nav__link:hover {
  color: #EE2F1B;
}

.nav__link--active {
  color: #EE2F1B;
}

.caption {
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 40px;
}

.slogan {
  color: #CCC;
  font-size: 20px;
  text-align: center;
  padding-top: 45px;
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/****** SECTION MAIN END ******/


/****** SECTION SERVICES ******/

.section__title {
  color: #222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.services {
  padding-top: 85px;
  padding-bottom: 100px;
}

.text-center {
  text-align: center;
}

.services__title--padd {
  padding-bottom: 35px;
}

.content-item {
  margin: 0;
  display: inline-flex;
  box-sizing: border-box;
}

.services-item {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 75px;
}

.centered-items {
  align-items: center;
}

.column-direction {
  flex-direction: column;
}

.third-part-width {
  width: 33%;
  box-sizing: border-box;
}

.icon-holder {
  display: flex;
}

.icon-holder--aling-full-center {
  align-items: center;
  justify-content: center;
}

.servirce-item__icon-holder--size {
  width: 65px;
  height: 65px;
}

.content-item__name {
  color: #222;
  text-transform: uppercase;
}

.servirce-item__name {
  font-size: 16px;
  padding-top: 30px;
}

.servirce-item__descr {
  color: #888;
  padding-top: 15px;
}

/****** SECTION SERVICES END******/
