body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #CCC;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  background-color: rgba(0,0,0,.7);
  background-blend-mode: darken;
  padding-top: 50px;
  padding-bottom: 140px;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.main-nav {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  display: inline-flex;
}

.main-nav ul {
  display: flex;
  align-items: center;
}

.main-nav ul li {
  padding: 0 25px;
}

.main-nav ul li a:hover {
  color: #EE2F1B;
}

.header__title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #FFF;
  padding-top: 175px;
  padding-bottom: 51px;
  text-transform: uppercase;
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header__subtitle {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  color: #CCC;
  padding-top: 54px;
}

.text-center {
  text-align: center;
}

.services {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services__title {
  padding-bottom: 40px;
}

.section-title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 700;
  color: #222;
  letter-spacing: -2px;
}

.services__row {
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
}

.service {
  width: 282px;
}

.service__img {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 55px;
}

.service__name {
  padding-top: 39px;
  letter-spacing: -.4px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Montserrat;
  color: #222;
}

.service__descr {
  color: #888;
  font-family: "Noto Sans";
  letter-spacing: -.35px;
  line-height: 22px;
  padding-top: 18px;
}

.service__name,
.service__descr {
  text-align: center;
}

/***** SECTION EXPERTISE ******/

.grid {
  display: grid;
  grid-template-columns: repeat(12, calc(100% / 12));
}

.expertise-content {
  grid-column-start: 1;
  grid-column-end: 9;
  padding-top: 100px;
  padding-bottom: 88px;
}

.expertise {
  background-color: #F7F7F7;
  overflow: hidden;
}

.expertise__title {
  color: #222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-text {
  color: #777;
  font-family: "Noto Sans";
  font-size: 16px;
  padding-top: 36px;
  line-height: 1.4;
}

.feautures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 26px;
}

.expertise-feautures {
  padding-bottom: 49px;
}

.feauture-item {
  width: 48.5%;
  display: flex;
  padding-top: 32px;
}

.feauture-item__img-wrap {
  padding-right: 10px;
  flex: none;
  width: 42px;
  height: 42px;
}

.feauture-item__title {
  color: #222;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
}

.feauture-item__descr {
  color: #777;
  font-family: "Noto Sans";
  line-height: 1.6;
  padding-top: 13px;
}

.button {
  display: inline-block;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 900;
  color: #222;
  text-transform: uppercase;
  padding: 25px 35px;
  background-color: #FFF;
  border-radius: 200px;
  border: 1px solid #D4EFF9;
  box-shadow: 2px 2px 4px 0 #777;
}

.button:hover {
  box-shadow: -2px -2px 4px 0 #777;
}

.button:active {
  box-shadow: 0 0 0 0 #777;
}

.expertise-background-image-wrapper {
  position: relative;
  grid-column-start: 10;
  grid-column-end: 13;
}

.expertise__background-image {
  position: absolute;
  height: 100%;
  width: auto;
}

/****** SECTION PORTFOLIO ******/

.portfolio {
  overflow: hidden;
}

.portfolio-content {
  grid-column-start: 1;
  grid-column-end: 8;
  padding-top: 100px;
  padding-bottom: 98px;
}

.feauture-item--block {
  width: 100%;
}

.portfolio-background-image-wrapper {
  position: relative;
  grid-column-start: 9;
  grid-column-end: 13;
}

.portfolio__background-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio-feautures {
  padding-top: 8px;
  background-image: url("images/portfolio-user-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.expertise__text {
  font-size: 14px;
}