body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  padding: 0;
  margin: 0;
  font-size: 10px;
  max-width: 1024px;
}

div {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  background: url("./images/background.jpg") no-repeat center top;
  background-size: cover;
  width: 100%;
}

.header_background {
  background-color: rgba(34,34,34, .75);
  width: 100%;
}

.header__logo {
  padding-top: 52px;
  width: 107px;
  height: 28px;
  float: left;
}


.header__nav {
  padding-top: 63px;
  float: right;
}

.header__nav__menu {
  margin: 0;
  padding: 0;
  display: block;
}

.header__nav__menu__item {
  float: left;
  display: block;
  margin-right: 30px;
}

.header__nav__menu__item__link {
  text-decoration: none;
  color: #FFF;
  font-size: 1rem;
  text-transform: uppercase;
}

.header__nav__menu__item__link_hover {
  text-decoration: none;
  color: #EE2F1B;
  font-size: 1rem;
  text-transform: uppercase;
}

.header___title-section___h1 {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -2.5px;
  padding-bottom: 51px;
  padding-top: 176px;
  margin: 0;
}

.header___title-section__content {
  color: #CCC;
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 140px;
  letter-spacing: -1px;
  margin: 0;
}

.header___title-section__content:before {
  content: "";
  display: block;
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  margin: 54px auto;
}

.conteiner_flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section___professional-services_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section__professional-services {
  padding-top: 99px;
}

.section__professional-services__h2 {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -2px;
  margin: 0 auto;
  padding-bottom: 121px;
}

.section__professional-services__h2:after {
  content: "";
  display: block;
  width: 111px;
  height: 2px;
  background-color: #35C2F8;
  margin: 0 auto;
  margin-top: 40px;
}


.section___professional-services___element {
  text-align: center;
}

.section___professional-services___element__h3 {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 39px;
}

.section___professional-services___element__content {
  color: #888;
  font-size: 1rem;
  letter-spacing: -1px;
  padding-top: 19px;
}

@media screen and (max-width: 573px) {

  .header__nav__menu__item {
    display: block;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 15px;
  }

  .header___title-section___h1 {
    font-size: 2.5rem;
    letter-spacing: -1.5px;
    padding-bottom: 30px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 411px) {

  .header__nav {
    display: block;
    text-align: center;
    padding-top: 5px;
  }

  .header___title-section___h1 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 44px;
    letter-spacing: -1px;
  }

  .header__nav {
    font-size: 1rem;
    padding: 30px 0;
  }

  .header___title-section__content {
    padding-bottom: 70px;
    margin-bottom: 0;
  }

  .section___professional-services_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }

  .section__professional-services {
    padding-top: 44px;
  }

  .section__professional-services__h2 {
    font-size: 2rem;
    padding-bottom: 60px;
  }

  .section___professional-services___element__h3 {
    font-size: 1.4rem;
  }
}