* {
  margin: 0;
  padding: 0;
}

a:any-link {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 1024px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
}

.header__logo {
  margin-left: 97px;
  margin-top: 46px;
}

.navbar {
  margin-top: 55px;
  margin-left: auto;
  margin-right: 95px;
}

.navbar__link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-right: 30px;
}

.navbar__link:hover {
  color: #EE2F1B;
}

.title {
  background: rgba(0, 0, 0, .75) url("images/background.jpg");
  height: 470px;
  background-blend-mode: darken;
}

.title__header {
  padding-top: 100px;
  padding-bottom: 30px;
  width: 510px;
  text-align: center;
  margin: auto;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: -3px;
}

.spacer {
  align-self: center;
  margin: auto;
  width: 100px;
  border-bottom: 2px solid #35C2F8;
}

.title__description {
  width: 400px;
  margin: auto;
  padding-top: 30px;
  font-size: 15px;
  font-weight: 400;
  color: #CCC;
  text-align: center;
  line-height: 24px;
  letter-spacing: -1px;
}

.core-services {
  text-align: center;
  margin-top: 70px;
  color: #888;
  font-family: "Noto Sans";
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}

.core-services__header {
  margin: auto;
  color: #222;
  font-family: Montserrat;
  text-transform: uppercase;
}

.header-big {
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -2px;
}

.header-medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: -1px;
}

.core-services__services {
  padding-top: 55px;
  display: grid;
  justify-content: center;
  grid-template-columns: 235px 235px 235px;
  grid-column-gap: 77px;
}
