*, *:before, *:after {
  box-sizing: border-box;
}

.body {
  width: 1024px;
  padding: 0;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
  color: #777;
  font-size: 14px;
  line-height: 1.7;
}

/* Header */

.header-intro {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
  min-height: 120px;
}

.dreams-logo {
  max-width: 107px;
  max-height: 28px;
  margin-left: 60px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  padding: 20px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #FFF;
  opacity: .6;
  transition: opacity .3s;
}

.navigation__link:hover {
  opacity: 1;
}

.intro {
  margin: 0 auto;
  min-height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__caption {
  max-width: 630px;
  padding-bottom: 35px;
  margin-bottom: 50px;
  margin-top: 0;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.intro__caption:after {
  content: "";
  position: absolute;
  width: 110px;
  height: 1px;
  background-color: #35C2F8;
  bottom: 0;
  left: calc(50% - 55px);
}

.intro__text {
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #CCC;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
}

/* Services */

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 520px;
}

.services__caption {
  color: #222;
  margin: 10px 0 0;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
  position: relative;
}

.services__caption:after {
  content: "";
  position: absolute;
  width: 110px;
  height: 1px;
  background-color: #35C2F8;
  bottom: 0;
  left: calc(50% - 55px);
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 78%;
}

.description__block {
  margin: 0;
  max-width: 320px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.description__image {
  margin: 5px 0;
}

.description__caption {
  margin: 15px 0 0;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.description__text {
  margin: 0;
  color: #888;
  text-align: center;
}
