body {
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1024px;
  padding: 0;
  margin: 0 auto;
}

.header-background {
  width: 1024px;
  margin: 0 auto;
  background-image: url("./images/TransparencyLayer.png"), url("./images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro__caption {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin: 110px 0 65px;
  letter-spacing: -2px;
  line-height: 64px;
}

.intro__caption:after {
  content: "";
  position: absolute;
  top: 166px;
  left: calc(50% - 55px);
  width: 110px;
  height: 2px;
  background-color: #35C2F8;
}

.intro__text {
  color: #CCC;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 134px;
  line-height: 35px;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  width: 83%;
  padding: 40px 0;
}

.header__nav {
  list-style: none;
  display: inline-flex;
  margin: 10px;
  font-size: 14px;
}

.header__nav-item {
  margin-left: 50px;
  letter-spacing: 1px;
}

.header__logo {
  width: 107px;
  height: 28px;
  margin-left: 43px;
}

.header__nav-link {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .3s;
}

.header__nav-link:hover {
  color: #EE2F1B;
}

/* SECTION 1 */

.services__container {
  padding: 43px 0;
}

.services__caption {
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -2px;
  position: relative;
}

.services__caption:after {
  content: "";
  position: absolute;
  top: 93px;
  left: calc(50% - 55px);
  width: 110px;
  height: 2px;
  background-color: #35C2F8;
}

.services__subblock__caption {
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -.4px;
  margin: 0;
  position: relative;
}

.services__subblock__text {
  margin: 10px 0 0;
  text-align: center;
  letter-spacing: -1px;
}

.services__block {
  display: flex;
  justify-content: space-around;
  width: 83%;
  padding: 66px 0;
}

.services__subblock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.services__image {
  width: 55px;
  height: 55px;
  margin-bottom: 36px;
}

.services__image-1 {
  width: 62px;
}
