body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1024px;
  margin: auto;
}

.line:after {
  width: 80px;
  height: 1px;
  background-color: #35C2F8;
  display: block;
  content: "";
  margin: 20px auto;
}

/*baner block*/

.baner {
  padding: 15px;
  background-image: url("images/baner.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.baner__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.baner__menu {
  visibility: hidden;
}

.baner-menu__img {
  width: 30px;
}

.baner__link {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}

.baner__link:hover {
  background-color: #CCC;
  color: #000;
  border-radius: 15px;
}

.baner__link:focus {
  background-color: #CCC;
  color: #000;
  border-radius: 15px;
}

.baner__title {
  color: #FFF;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  width: 45%;
  display: inline-block;
  margin: 110px 0 0;
}

.baner__text {
  color: #CCC;
  font-size: 16px;
  font-weight: 400;
  width: 38%;
  margin: 0 auto 50px;
}

/*sevices block*/

.services {
  text-align: center;
}

.services__title {
  color: #222;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 25px 0 0;
}

.services__containers {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 100px;
}

.services__container {
  width: 30%;
}

.services-container__img {
  width: 40px;
  height: auto;
}

.services-container__title {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.services-container__text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

/*other block*/

.other {
  display: flex;
  margin-bottom: 100px;
}

.other__bground {
  width: 66%;
  background-color: #F7F7F7;
  margin: auto;
  padding-left: 40px;
}

.other__title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.other__text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.other__containers {
  display: flex;
}

.other-container__img1 {
  background-image: url("images/setup.png");
}

.other-container__img2 {
  background-image: url("images/star.png");
}

.other-container__img3 {
  background-image: url("images/cloud.png");
}

.other-container__img4 {
  background-image: url("images/lock.png");
}

.other-container__img--position {
  background-size: 30px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.other-container__title {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.other-container__text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.other_button {
  margin: 20px 150px 50px;
  width: 100px;
  height: 45px;
  background-color: #FFF;
  border: 2px solid #35C2F8;
  border-radius: 70px;
  font-size: 10px;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
}

.other_button:hover {
  background-color: #35C2F8;
  color: #222;
}

.other_button:focus {
  background-color: #35C2F8;
  color: #222;
}

.other_img {
  background: url("images/other.png");
  background-repeat: no-repeat;
  width: 33%;
  background-size: cover;
  height: auto;
}

/*portfolio block*/

.portfolio {
  display: flex;
}

.portfolio__bground {
  background: url("images/background-porto.png");
  background-repeat: no-repeat;
  background-position-y: 120px;
  background-size: auto;
  width: 50%;
}

.portfolio__title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio__text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.portfolio-container__img1 {
  background-image: url("images/setup.png");
}

.portfolio-container__img2 {
  background-image: url("images/star.png");
}

.portfolio-container__img3 {
  background-image: url("images/pie.png");
}

.portfolio-container__img--position {
  background-size: 30px;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 100px;
}

.portfolio-container__title {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-container__text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.portfolio__img {
  background-image: url("images/pad.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.album {
  justify-content: space-between;
}

.album__img {
  width: 33%
}

/*about block*/


.about-containers__img--margin {
  margin: 0;
}

.about__title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 50px auto;
  text-align: center;
}

.about__text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.about__containers {
  display: inline-flex;
  margin: 50px 0;
}

.about-containers__img1 {
  background: url("images/image-a-1.png");
}

.about-containers__img2 {
  background: url("images/image-a-2.png");
}

.about-containers__img3 {
  background: url("images/image-a-3.png");
}

.about-containers__img4 {
  background: url("images/image-a-4.png");
}

.about-containers__img--size {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border: 3px solid #C7C7C7;
  width: 140px;
  height: 140px;
}

.about__container {
  width: 56%;
  margin: 0 50px;
}

.about-container__title {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.about-container__text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.about__containers--right {
  flex-direction: row-reverse;
  margin-right: 43%;}

.about__container--right {
  text-align: right;
}

.about__containers--left {
  margin-left: 43%;
}

.about__text--circle {
  margin: 70px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #35C2F8;
  color: #FFF;
  padding: 27px;
  border: 3px solid #C7C7C7;
  align-items: center;
  font-size: 18px;
  text-align: center;
}

/*team block*/

.team {
  background-color: #F7F7F7;
}

.team__title {
  color: #222;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
}

.team__containers {
  display: flex;
  justify-content: space-around;
}

.team-container__idisplaymg {
  border-radius: 50%;
}

.team-container__text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.team-container__pic {
  justify-content: space-evenly;
  display: flex;
}

.team-container-pic__img {
  background-color: #000;
  padding: 20px;
  border-radius: 50%;
}

.team__text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  margin: 50px auto;
  text-align: center;
}

.team-container__text--bold {
  font-weight: 600;
  color: #000;
  font-size: 14px;
}

@media (max-width: 1199.98px) {

  .container {
    width: auto;
  }
}

@media (max-width: 991.98px) {

  /*baner block 991.98px*/

  .services__containers {
    display: block;
  }

  .services__container {
    width: 70%;
    margin: auto;
  }

  .services-container__img {
    width: 60px;
    height: auto;
  }

  /*other block 991.98px*/

  .other {
    display: block;
    margin-bottom: 0;
  }

  .other__bground {
    width: 100%;
    padding-left: 0;
  }

  .other__title {
    text-align: center;
    padding-top: 20px;
  }

  .other__text {
    font-size: 10px;
    padding: 0 15px;
  }

  .other__containers {
    padding: 0 15px;
  }

  .other_img {
    height: 0;
  }

  /*portfolio block 991.98px*/

  .portfolio {
    display: block;
    padding: 0 15px;
  }

  .portfolio__bground {
    width: 100%;
  }

  .portfolio__img {
    height: 0;
  }

  .album {
    justify-content: normal;
    text-align: center;
  }

  .album__img {
    width: 40%;
  }

  /*about block 991.98px*/

  .about-containers__img--margin {
    margin: 0;
  }

  .about__containers {
    display: inline-flex;
    margin: 50px 0;
  }

  .about-container__title {
    text-align: center;
  }

  .about-container__text {
    text-align: justify;
  }

  .about__containers--right {
    margin: auto;
    text-align: -webkit-center;
    display: block;
  }

  .about__containers--left {
    margin: auto;
    text-align: -webkit-center;
    display: block;
  }

  /*team block 991.98px*/

  .team__containers {
    display: block;
    text-align: center;
  }

  .team-container__idisplaymg {
    border-radius: 50%;
  }

  .team-container__pic {
    justify-content: safe;
    display: flex;
  }

  .team__text {
    margin: auto;
  }

  .team__container {
    padding-bottom: 50px;
  }
}

@media (max-width: 767.98px) {

  /*baner block 767.98px*/

  .baner__header {
    display: block;
    text-align: initial;
  }

  .baner__nav {
    padding-top: 20px;
  }

  .baner__link {
    font-size: 14px;
    padding: 5px;
  }

  .baner__title {
    font-size: 25px;
    margin: 70px 0 0;
  }

  .baner__text {
    font-size: 14px;
  }

  /*services block 767.98px*/

  .services__title {
    font-size: 20px;
  }

  .services__container {
    width: 70%;
  }

  .services-container__img {
    width: 35px
  }

  .services-container__title {
    font-size: 12px;
  }

  .services-container__text {
    font-size: 10px;
  }

  /*other block 767.98px*/

  .other__title {
    font-size: 20px;
  }

  .other__containers {
    display: block;
  }

  .other-container__img--position {
    background-size: 20px;
    padding-left: 30px;
  }

  .other-container__title {
    font-size: 12px;
  }

  .other-container__text {
    font-size: 10px;
  }

  /*portfolio block 767.98px*/

  .portfolio__title {
    font-size: 20px;
  }

  .portfolio__text {
    font-size: 10px;
  }

  .portfolio-container__img--position {
    background-size: 20px;
  }

  .portfolio-container__title {
    font-size: 12px;
  }

  .portfolio-container__text {
    font-size: 10px;
  }

  /*about block 767.98px*/

  .about__title {
    font-size: 20px;
  }

  .about__text {
    font-size: 10px;
  }

  .about-containers__img--size {
    width: 70px;
    height: 70px;
  }

  .about__container {
    width: 80%;
  }

  .about-container__title {
    font-size: 12px;
  }

  .about-container__text {
    font-size: 10px;
  }

  .about__text--circle {
    margin: 70px auto;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 11px;
  }

  /*team block 767.98px*/

  .team__title {
    font-size: 20px;
  }

  .team-container__text {
    font-size: 10px;
  }

  .team-container__pic {
    justify-content: center;
  }

  .team-container__img {
    width: 150px;
  }

  .team-container-pic__img {
    margin: 0 15px;
  }

  .team__text {
    font-size: 10px;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .team-container__text--bold {
    font-size: 12px;
  }
}

/*@media (max-width: 575.98px) {

}*/