body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.baner {
  background-image: url("images/baner.png");
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  background-size: cover;
}

.container-width {
  width: 1024px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.baner-header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.baner-nav-ul {
  display: flex;
  list-style-type: none;
}

.baner-link {
  padding: 10px;
  margin: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}

.baner-link:hover {
  background-color: rgb(180, 180, 180);
  color: #000;
  border-radius: 15px;
}

.baner-link:focus {
  background-color: rgb(180, 180, 180);
  color: #000;
  border-radius: 15px;
}

.baner-text {
  padding: 100px 0 150px;
}

.baner-title-txt {
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  width: 50%;
  display: inline-block;
}

.line-blue:after {
  width: 80px;
  height: 1px;
  background-color: #35C2F8;
  display: block;
  content: "";
  margin: auto;
  margin-top: 20px;
}

.baner-txt {
  color: #CCC;
  font-size: 16px;
  font-weight: 400;
  width: 35%;
  margin: 0 auto;
}

.bground-color-grey {
  background-color: #F7F7F7;
}


.title-text {
  color: #222;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.services-grid {
  display: flex;
  padding: 30px 0;
}

.text-up {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.text-bold {
  font-weight: 600;
  font-size: 14px;
}

.text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.container-service {
  width: 33.3%;
  padding: 0 20px;
}

.container-margin-66 {
  margin: 0 40px;
  width: 66%;
}

.container-flex {
  display: flex;
  justify-content: center;
}

.image-icon {
  width: 40px;
  height: 40px;
  margin: 20px 20px 40px;
  float: left;
}

.container-other {
  width: 50%;
}

.portfolio-bground {
  background-position-y: 50px;
  background-image: url("images/portbground.png");
  background-repeat: no-repeat;
}

.other-image {
  background: url("images/other.png");
  background-repeat: no-repeat;
  width: 341px;
  height: auto;
}

.portfolio-box_button {
  margin-left: 150px;
  margin-bottom: 10px;
  width: 100px;
  height: 45px;
  background-color: #FFF;
  border: 1px solid #35C2F8;
  border-radius: 70px;
  font-size: 10px;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-image {
  background-image: url("images/ipad.png");
  background-repeat: no-repeat;
  background-size: 420px;
  width: 512px;
  background-position-y: center;
}

.portfolio-images {
  width: 33%;
}

.text-left {
  width: 35%;
  text-align: right;
}

.text-right {
  width: 35%;
  text-align: left;
}

.container-image-text-left {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 39%;
  margin-bottom: 50px;
}

.container-image-text-right {
  display: flex;
  align-items: center;
  margin-left: 39%;
  margin-bottom: 50px;
}

.about-image {
  width: 120px;
  margin: 0 50px;
  border-radius: 50%;
  border: 3px solid #C7C7C7;
}

.about-text-circle {
  margin: 70px auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #35C2F8;
  color: #FFF;
  padding: 27px;
  border: 3px solid #C7C7C7;
  align-items: center;}

.team-image {
  width: 170px;
  margin: 20px 20px 0;}

.pictogram-twit {
  padding: 10px;
  background-color: #000;
  margin: 10px;
  border-radius: 50%;
}

.pictogram-fac {
  padding: 10px 15px;
  background-color: #000;
  margin: 10px;
  border-radius: 50%;
}

.pictogram-pin {
  padding: 10px 13px;
  background-color: #000;
  margin: 10px;
  border-radius: 50%;
}