body {
  background-color: #FFF;
  font-family: "Open Sans", "sans-serif";
  width: 1024px;
  margin: auto;
}

.main-box {
  background-image: url("images/background-title.png");
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px
}

.link-head {
  color: #FFF;
  list-style-type: none;
  margin-left: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.title-text-up {
  padding-top: 100px;
  margin: auto;
  text-align: center;
  width: 530px;
  color: #FFF;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.title-text {
  padding-top: 40px;
  margin: auto;
  text-align: center;
  width: 350px;
  color: #CCC;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 100px;
}

/*block 2*/

.services {
  margin: auto;
  text-align: center;
  color: #222;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 40px;
}


.services-box {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.figure-box {
  text-align: center;
  width: 27%;
}

.text-up {
  color: #222;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.other-box__h2 {
  color: #222;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 40px;
  padding-left: 40px;
}

.other-text__p {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  padding-right: 50px;
  padding-left: 40px;
}

.other {
  display: flex;
}

.other__pic {
  height: 80%;
}

.other-box-figure {
  display: flex;
}

.figure-box-3 {
  display: flex;
  align-items: center;
}

.ohter-figure-img {
  padding-right: 20px;
}

.amazing {
  display: flex;
}

.amazing_img {
  width: 25%;
}

.amazing_txt {
  width: 60%;
}