body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.baner {
  background-image: url("images/baner.png");
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  background-size: cover;
}

.container-width {
  width: 1024px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.baner-header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.baner-nav-ul {
  display: flex;
  list-style-type: none;
}

.baner-link {
  padding: 10px;
  margin: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}

.baner-text {
  padding: 100px 0 150px;
}

.baner-title-txt {
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  width: 50%;
  display: inline-block;
}

.baner-title-txt:after {
  width: 80px;
  height: 1px;
  background-color: #35C2F8;
  display: block;
  content: "";
  margin: auto;
  margin-top: 20px;
}

.baner-txt {
  color: #CCC;
  font-size: 16px;
  font-weight: 400;
  width: 35%;
  margin: 0 auto;
}

.bground-color-grey {
  background-color: #F7F7F7;
}


.title-text {
  color: #222;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.services-grid {
  display: flex;
  padding: 30px 0;
}

.text-up {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.text {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.container-service {
  width: 33.3%;
  padding: 0 20px;
}

.container-margin-66 {
  margin: 0 40px;
  width: 66%;
}

.container-flex {
  display: flex;
}

.image-icon {
  width: 40px;
  height: 40px;
  margin: 20px 20px 40px 20px;
  float: left;
}

.container-other {
  width: 50%;
}

.other-image {
  background: url("images/other.png");
  background-repeat: no-repeat;
  width: 341px;
  height: auto;
}

.portfolio-image {
  background-image: url("images/ipad.png");
  background-repeat: no-repeat;
  background-size: 420px;
  width: 512px;
  background-position-y: center;
}

.portfolio-images {
  width: 33%;
}

.text-left {
  display: block;
  width: 30%;
  text-align: right;

}

.text-right {
  display: block;
  width: 30%;
  text-align: left;

}