/*reset*/

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*---------------*/

body {
  background-color: #FFF;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  line-height: 1.57;
  margin: 0;
  color: #777;
}

/*helper-classes*/

.wrap {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-medium {
  font-size: 14px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.round {
  border-radius: 50%;
  border: 7px solid #F1F1F1;
  overflow: hidden;
  margin: 0 auto;
}

.text-white {
  color: #FFF;
}

/*--------------*/

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
}

.section__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.section__title--underline {
  padding-bottom: 40px;
  margin-bottom: 85px;
}

.section__title--underline:after {
  position: absolute;
  content: "";
  display: block;
  width: 110px;
  height: 2px;
  background: #35C2F8;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section__title--white {
  color: #FFF;
}

.section__text {
  margin-bottom: 36px;
}

/*card*/

.card {
  position: relative;
  padding: 15px 10px 15px 46px;
}

.card--right {
  margin-right: auto;
}

.card--expertise {
  max-width: 390px;
}

.card__body--left {
  order: -1;
}

.card--briefcase {
  max-width: 486px;
}

.card__heading {
  position: relative;
}

.card__heading:before {
  position: absolute;
  content: "";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 34px;
  left: -45px;
  bottom: 0;
  z-index: 1;
}

.card__heading--icon1:before {
  background-image: url("images/gear.svg");
}

.card__heading--icon2:before {
  background-image: url("images/cloud.svg");
  width: 34px;
}

.card__heading--icon3:before {
  background-image: url("images/star.svg");
}

.card__heading--icon4:before {
  background-image: url("images/lock.svg");
  width: 27px;
  height: 39px;
  bottom: 2px;
}

.card__heading--icon5:before {
  background-image: url("images/pie.svg");
}

.card__title {
  color: #222;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.card__title--lowercase {
  text-transform: lowercase;
}

.card__title__link {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding-bottom: 10px;
  transition: .35s;
}

.card__title__link:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 1;
  transition: width .3s ease-in-out;
}

.card__title__link:hover:after,
.card__title__link:focus:after {
  width: 100%;
  background: #35C2F8;
}

/*--------------*/

/*button*/

.btn {
  display: inline-block;
  padding: 18px 36px 20px 35px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: .35s;
  border: none;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
}

.btn--main {
  color: #222;
  border-radius: 40px;
  border: 1px solid rgba(53, 194, 248, .2);
  background-color: #FFF;
}

.btn--success {
  color: #FFF;
  background-color: #35C2F8;
  border-radius: 40px;
  padding: 20px 32px;
}

.btn--story {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  color: #FFF;
  border: 7px solid #F1F1F1;
  background-color: #35C2F8;
  padding: 5px;
}

.btn--burger,
.btn--close {
  display: none;
  background-color: transparent;
  padding: 10px;
  width: 45px;
  height: 45px;
}

.btn--story:hover,
.btn--story:focus {
  transform: rotateY(360deg);
}

.btn--main:hover,
.btn--main:focus {
  color: #FFF;
  background-color: #35C2F8;
}

/*-------------*/

/*image*/

.img {
  display: block;
  width: 100%;
  height: auto;
}

.img--services {
  max-width: 55px;
  height: auto;
  margin: 0 auto 35px;
}

.img--services-big {
  max-width: 62px;
}

.img__link {
  transition: .5s;
}

.img__link:hover,
.img__link:focus {
  transform: scale(1.3);
}

/*--------------*/

/*----SVG--------*/

.svg-icon {
  fill: #FFF;
}

.svg-icon--social {
  margin: auto;
  width: 20px;
  height: 20px;
}

.svg--phone {
  height: 45px;
}

.svg-icon--contact {
  width: 28px;
  height: 28px;
  margin-right: 16px;
  transition: .35s;
}

/*---------------------*/

/*header */

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  padding: 40px 0 20px;
  z-index: 200;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo-site {
  display: block;
  width: 108px;
  height: 28px;
  text-decoration: none;
}

/*navigation */

.header__nav {
  display: flex;
  align-items: flex-end;
}

.close-nav {
  display: none;
}

.nav__list {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  transition: .35s;
  margin-left: 50px;
  padding: 10px;
}

.nav__link:hover,
.nav__link:focus {
  color: #35C2F8;
  outline: none;
}

/*section-intro*/

.section--intro {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 645px;
  background: url("images/background-intro.jpg"), center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 20px;
}

.section--intro:before {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .75);
  z-index: 1;
}

.container--intro {
  position: relative;
  z-index: 2;
}

.section__title--intro {
  max-width: 544px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #FFF;
  text-align: center;
  padding: 0 0 50px;
  margin: 0 auto 54px;
}

.sub-title {
  max-width: 422px;
  font-size: 20px;
  color: #CCC;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

/*--------------*/

/*section-services*/

.container__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/*card-services*/

.card-services {
  max-width: 280px;
  text-align: center;
  padding: 40px 15px 0;
}

.card__title--services {
  margin-bottom: 15px;
}

/*-------------*/

/*section-expertise*/

.section--expertise {
  background-color: #F7F7F7;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.wrap__content {
  width: 80%;
}

.bg-img {
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url("images/image-cup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.section__text--expertise {
  max-width: 654px;
}

.card__list--expertise {
  display: flex;
  flex-wrap: wrap;
  max-width: 780px;
  margin-bottom: 35px;
}

/*-------------*/

/*section-portfolio*/

.section--portfolio {
  position: relative;
  padding-bottom: 0;
  overflow: hidden;
}

.inner-wrap {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.device-wrap {
  position: absolute;
  top: 9%;
  left: 55%;
  max-width: 1080px;
  width: 100%;
  z-index: -1;
}

.briefcase__box {
  margin-bottom: 100px;
}

.bg-briefcase {
  max-width: 586px;
  background-image: url("images/users-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 8%;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item {
  width: 33.3%;
}

.portfolio-list__item__link {
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

/*section-about*/

.container-story {
  position: relative;
}

.container-story:after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  top: 0;
  left: 50%;
  bottom: 0;
  background-color: #F1F1F1;
  z-index: -1;
}

.card-story {
  position: relative;
  display: flex;
  width: 59%;
  text-align: right;
  padding-bottom: 90px;
}

.card-story:nth-child(even) {
  margin-left: auto;
  text-align: left;
}

.card-story:last-child {
  padding-bottom: 90px;
}

.card-story__body {
  padding-right: 38px;
  padding-left: 38px;
}

.date {
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
}

.box-img {
  flex-shrink: 0;
  width: 170px;
  height: 170px;
}

/*section--team*/

.section--team {
  background-color: #F1F1F1;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.wrap-img--team {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #000;
  overflow: hidden;
  margin: 0 auto 25px;
}

.card--member {
  width: 33.3%;
  padding-left: 20px;
  padding-right: 20px;
}

.text--team {
  display: inline-block;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.social-list {
  display: flex;
  justify-content: center;
  max-width: 170px;
  margin: 0 auto;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__item__link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #FFF;
  background-color: #000;
  padding: 5px;
  transition: .35s;
}

.social-list__item__link:hover,
.social-list__item__link:focus {
  background-color: #35C2F8;
}

/*----------------------------------------------------------*/

/*section-contact*/

.section--contact {
  background-color: #000;
  padding-bottom: 40px;
  color: #FFF;
}

.container--contact {
  display: flex;
  flex-wrap: wrap;
}

.wrap--contacts {
  width: 50%;
  font-size: 16px;
  padding-right: 10px;
}

.contact__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact__list__item {
  width: 50%;
}

.contact__link {
  display: flex;
  align-items: center;
  color: inherit;
  transition: .35s;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact__link:hover,
.contact__link:focus {
  color: #35C2F8;
}

.contact__link:hover > .svg-icon--contact,
.contact__link:focus > .svg-icon--contact {
  fill: #35C2F8;
}

/*-----------------------*/
